<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		//subtotal 	
			let total = $('.sTotal')
			let sTotal =0;
			for(t of total){
				sTotal += Number(t.innerHTML);
			}
			// 천단위 콤마
			sTotal = sTotal.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
			$('#sTotal').html(sTotal)
			
		//grandtotal 할인 적용 후 
			total = $('.gTotal')
			let gTotal = 0;
			for(t of total){
				gTotal += Number(t.innerHTML);
			}
			//천단위 콤마
			gTotal = gTotal.toString() .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
			$('#gTotal').html(gTotal)
		
		// 장바구니 삭제	
			$('.remove').on('click', '.removeCart', function(){
				let cartNo = $(this).closest('tr').attr('id')
				$.ajax({
						url: 'ajaxCartDelete',
						type: 'post',
						data: {
							cartNo: cartNo
						}
					})
					.done(res => {
						alert(res);
						document.getElementById(cartNo).remove();
					})
			})
		// order로 이동
			$('#orderCallBtn').on('click', function(){
				if(confirm('주문 페이지로 넘어가시겠습니까?')){
					let userNo = $('.border-top')[0];
					location.href="order?userNo=" + Number(userNo.firstElementChild.innerHTML);				
					
					// 포스트로 보내려고 폼 제출하면 400 에러 뜸
//					userNo.value = Number(userNo.firstElementChild.innerHTML);
//					document.getElementById('orderCall').submit();
//					orderCall.submit();
				}
			})
	})
</script>
</head>
<body>
	<article layout:fragment="content">
		<!--breadcrumbs area start-->
		<br> <br> <br> <br>
		<div class="breadcrumbs_area breadcrumbs_other">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumb_content text-center">
							<ul>
								<li><a href="index.html">home</a></li>
								<li><a href="#">pages</a></li>
							</ul>
							<h3>Shopping Cart</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs area end-->

		<!--shopping cart area start -->
		<div class="shopping_cart_area">
			<div class="container">
				<form action="#">
					<div class="cart_page_inner mb-60">
						<div class="row">
							<div class="col-12">
								<div class="cart_page_tabel">
									<table>
										<thead>
											<tr>
												<th>product</th>
												<th>information</th>
												<th>Price</th>
												<th>Quantity</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody id="tb">
											<!-- tr 반복  -->
											<tr th:each="c:${cartList}" class="border-top"
												th:id="${c.cartNo}">
												<td style="display: none" th:text="${c.userNo}"></td>
												<td>
													<div class="cart_product_thumb">
														<img src="assets/img/product/product4.jpg" alt="">
													</div>
												</td>
												<td>
													<div class="cart_product_text">

														<h4>[[${c.name}]]</h4>
													</div>
												</td>
												<td>
													<div class="cart_product_price">
														<span>[[${#numbers.formatInteger(c.price*(1-c.dc),4)}]]</span>

													</div>
												</td>
												<td class="product_quantity">
													<div class="cart_product_quantity">
														<input min="1" max="100" th:value="${c.qty}" type="number">
													</div>
												</td>
												<td>
													<div class="cart_product_price">
														<span class="gTotal">[[${#numbers.formatInteger(c.price*(1-c.dc)*c.qty,4)}]]</span>
														<span class="sTotal" style="display: none">[[${c.price*c.qty}]]</span>
													</div>
												</td>
												<td>
													<div class="cart_product_remove text-right remove">
														<a class="removeCart"><i class="ion-android-close"></i></a>
													</div>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="grand_totall_area">
										<div class="grand_totall_inner border-bottom">
											<div class="cart_subtotal d-flex justify-content-between">
												<p>sub total</p>
												<span id="sTotal"></span>
											</div>
											<div class="cart_grandtotal d-flex justify-content-between">
												<p>grand total</p>
												<span id="gTotal"></span>
											</div>
										</div>

										<div class="proceed_checkout_btn">
											<a class="btn btn-primary" id="orderCallBtn">주문 및 결제하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--shopping cart area end -->
		<form name="orderCall" id="orderCall" method="post" action="order">
			<input type="hidden" id="userNo" name="userNo">
		</form>

	</article>
</body>
</html>