<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>Insert title here</title>
<script>
		document.addEventListener('DOMContentLoaded', function () {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			let goodsNo = Number($('#goodsNo').val())
			let userNo = Number($('#userNo').val());

			qnaList();

			// 문의 리스트
			function qnaList() {
				// 아작스로 데이터 불러오기
				$.ajax({
						url: 'ajaxQnaList',
						type: 'post',
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token)
						},
						data: {
							goodsNo: goodsNo,
						}
					})
					.done(res => {
						let cnt = res.length
						$('#qnaFrm').append(`
								<div><h2>Q&A </h2><span align="right"> 총 ${cnt} 건</span></div><br>
								<table id="qnaList">
												<tbody id="tb">
												</tbody>
												</table>`)
						res.forEach(obj => {
							let uN = obj.userNo;
							// 닉네임 보여주기
							$.ajax({
									url: 'ajaxSelectNick',
									type: 'post',
									beforeSend: function (xhr) {
										xhr.setRequestHeader(header, token)
									},
									data: {
										userNo: uN
									}
								})
								.done(res => {
									obj.nickname = res;
									$('#tb').append(makeTr(obj));
								})
						});

						// 로그인이 되어 있으면
						$('#qnaFrm').append(`<br>
								<div class="shopping_continue_btn" align="center">
								<button class="btn btn-primary" type="button" id="qnaSubmit">문의
									작성하기</button>
							</div>`)
					})
			}

			function makeTr(obj) {
				// 답변 여부 표시
				let answerYn = '<span style="color: red">답변대기<span>'
				if (obj.answer) {
					answerYn = '<span style="color: green">답변완료<span>'
				}
				let tr = $('<tr>').addClass('clickTr').append($('<td style="width: 600px">').html(obj.title),
					$('<td>').html(answerYn),
					$('<td>').html(obj.nickname),
					$('<td>').html(obj.dt),
					$('<td style="display: none;">').html(obj.qnaNo))
				return tr;
			}

			// 리스트에서 글제목 클릭하면 문의 상세보기 데이터 불러오기
			$('#qnaFrm').on('click', '.clickTr', function () {
				let qnaNo = $(this).children().last().html();
				// 아작스로 데이터 불러오기
				$.ajax({
						url: 'ajaxQnaSelect',
						type: 'post',
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token)
						},
						data: {
							qnaNo: qnaNo
						}
					})
					.done(res => {
						// 테이블 지우고
						$('#qnaFrm').html('');
						// 내가 쓴 글이면 삭제 버튼
						$('#qnaFrm').append(
							`<div align="right"><a class="stock" id="qnaDel">삭제</a></div>`)
						// 답변 널 처리
						if (!res.answer) {
							res.answer = '답변이 등록되지 않았습니다.'
						}
						if (!res.answerDate) {
							res.answerDate = '';
						}
						// 문의 상세보기 폼 띄우기
						$('#qnaFrm').append(`<br>
											<table>
												<tbody id="tbDetail">
												<tr><td style="display:none">${res.qnaNo}</td></tr>
												<tr><td>${res.title}</td></tr>
												<tr><td>${res.content}</td></tr>
												<tr><td><span style="color: #CCCCCC">${res.answerDate}</span><br>
												        <span>${res.answer}</span>
												    </td></tr>
												</tbody>
											</table><br>
											<a class="stock listCall">< 목록으로</a>`)
					})
			})

			// 문의 삭제하기
			$('#qnaFrm').on('click', '#qnaDel', function () {
				if (confirm('문의를 삭제하시겠습니까?')) {
					let qnaNo = $(this).parent().next().next().children().first().children().first()
						.children().first().html()
					$.ajax({
							url: 'ajaxQnaDelete',
							type: 'post',
							beforeSend: function (xhr) {
								xhr.setRequestHeader(header, token)
							},
							data: {
								qnaNo: qnaNo
							}
						})
						.done(res => {
							$('#qnaFrm').html('');
							qnaList();
						})
				}
			})

			// 목록으로 누르면 문의리스트 불러오기
			$('#qnaFrm').on('click', '.listCall', function () {
				$('#qnaFrm').html('');
				qnaList();
			})

			// 리스트에서 문의 작성 버튼 클릭하면 문의 작성 폼 불러오기 
			$('#qnaFrm').on('click', '#qnaSubmit', function () {
				$('#qnaFrm').html('');
				$('#qnaFrm').html($('#qnaInsertTemplate').html());
			})

			// 문의 작성 폼에서 문의 제출하기 버튼 클릭하면 insert 실행
			$('#qnaFrm').on('click', '#submitQna', function () {
				let title = $('#title').val();
				let content = $('#content').val();

				if (confirm('문의를 등록하시겠습니까?')) {
					$.ajax('ajaxQnaInsert', {
							type: 'post',
							data: {
								title: title,
								content: content,
								userNo: userNo,
								goodsNo: goodsNo
							},
							beforeSend: function (xhr) {
								xhr.setRequestHeader(header, token)
							},
							dataType: 'text'
						})
						.done(res => {
							$('#qnaFrm').html('');
							qnaList();
						})
				}
			})

			// 재고 없을 때
			let amount = Number($("#amount").html());
			if (amount <= 0) {
				$("#amount").html(0);
				$("#stock").html("Not in Stock").css("color", "red")
			}

			// 장바구니 추가
			$('#addCart').on('click', function () {
				let qty = Number($('#setQty').val());
				
						
				if (amount == 0) {
					alert('해당 상품의 재고가 없습니다.');
					return;
				}
				if (amount < qty) {
					alert('재고보다 많은 수량을 입력할 수 없습니다.');
					return;
				}
				if (confirm('해당 상품을 장바구니에 추가하시겠습니까?')) {
					$.ajax('ajaxCartInsert', {
							type: 'post',
							data: {
								qty: qty,
								userNo: userNo,
								goodsNo: goodsNo,
								amount: amount
							},
							dataType: 'text',
							beforeSend: function (xhr) {
								xhr.setRequestHeader(header, token)
							},
						})
						.done(res => {
							if (confirm(res)) {
								$('#cartCall').submit();
							}
						})
				}
			})
			
			// 이미지 변경
			$('.zoom_tab_img').on('click', '.imgClick', function(){
				let img = $(this);
				let src = img[0].children[0].getAttribute('src');
				$('#zoom').attr('src', src);
				
			})
		})
	</script>
</head>

<body>
	<article layout:fragment="content">
		<!--offcanvas menu area start-->
		<br> <br> <br> <br>

		<!--breadcrumbs area start-->
		<div class="breadcrumbs_area breadcrumbs_product">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumb_content">
							<ul>
								<li><a href="index.html">home</a></li>
								<li><a href="shop.html">shop</a></li>
								<li>Product Detail</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--breadcrumbs area end-->
		<!--product details start-->
		<section class="product_details mb-135">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="product_zoom_gallery">
							<div class="zoom_gallery_inner d-flex">
								<div class="zoom_tab_img">
									<!-- 반복되는 구간 -->
									<div th:if="${photoList}">
									<div th:each="ph:${photoList}">
										<a class="imgClick"><img
											th:src="${ph.dir}" alt="tab-thumb"></a>
									</div>
									</div>
									<br><br>
									<!-- 반복되는 구간 -->
								</div>
								<div class="product_zoom_main_img">
									<div class="product_zoom_thumb">
										<img id="zoom" th:src="${goods.thumb}" alt="">
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="product_d_right">
							<br>
							<h3>[[${goods.name}]]</h3>
							<div class="product_ratting_review d-flex align-items-center">
								<div class=" product_ratting">
									<ul class="d-flex">
										<li><a href="#"><i class="ion-ios-star"></i></a></li>
										<li><a href="#"><i class="ion-ios-star"></i></a></li>
										<li><a href="#"><i class="ion-ios-star"></i></a></li>
										<li><a href="#"><i class="ion-ios-star"></i></a></li>
										<li><a href="#"><i class="ion-ios-star"></i></a></li>
									</ul>
								</div>
								<div class="product_review">
									<ul class="d-flex">
										<li>[[${#lists.size(reviewList)}]] reviews</li>
									</ul>
								</div>
							</div>
							<br> <br>
							<div class="price_box">
								<span class="old_price">KRW
									[[${#numbers.formatInteger(goods.price,3,'COMMA')}]]</span><br> <span
									class="current_price">KRW
									[[${#numbers.formatInteger(goods.price*(1-goods.dc),3,'COMMA')}]]</span>
							</div>
							<div class="product_availalbe">
								<ul class="d-flex">
									<li><i class="icon-layers icons"></i> Only <span
										id="amount">[[${goods.amount}]]</span> left</li>
									<li>Availalbe: <span id="stock" class="stock">In
											Stock</span></li>
								</ul>
							</div>

							<div class="product_variant">

								<div class="variant_quantity_btn d-flex">
									<div class="pro-qty border">
										<input min="1" max="100" type="text" id="setQty" value="1">
									</div>
									<form id="cartCall" name="cartCall" action="cart" method="post">
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}">
										<!-- 상품번호 -->
										<input type="hidden" name="goodsNo" id="goodsNo"
											th:value="${goods.goodsNo}">
										<!-- 유저번호 -->
										<input type="hidden" name="userNo" id="userNo"
											th:value="${#authentication.principal.login.no}">
										<button class="button btn btn-primary" type="button"
											id="addCart">
											<i class="ion-android-add"></i> Add To Cart
										</button>
									</form>
									<a class="wishlist" href="#"><i class="ion-ios-heart"></i></a>

								</div>
							</div>

							<div class="priduct_social d-flex">
								<span>SHARE: </span>
								<ul>
									<li><a href="#n"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#n"><i class="ion-social-facebook"></i></a></li>
									
									<li><a href="#"><i
											class="ion-social-instagram-outline"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--product details end-->

		<!--product info start-->
		<div class="product_d_info mb-118">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="product_d_inner">
							<div class="product_info_button border-bottom">
								<ul class="nav" role="tablist">
									<li><a class="active" data-toggle="tab" href="#info"
										role="tab" aria-controls="info" aria-selected="false">제품
											상세보기</a></li>
									<li><a data-toggle="tab" href="#reviews" role="tab"
										aria-controls="reviews" aria-selected="false">구매 후기 </a></li>
									<li><a data-toggle="tab" href="#qna" role="tab"
										aria-controls="tags" aria-selected="false">QNA </a></li>
									<li><a data-toggle="tab" href="#additional" role="tab"
										aria-controls="additional" aria-selected="false">취소/교환 안내
									</a></li>
								</ul>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade show active" id="info" role="tabpanel">
									<div class="product_info_content" align="center">
										<!-- 상세 사진  -->
										<img th:src="${goods.detail}"></img>
									</div>
								</div>
								<div class="tab-pane fade" id="reviews" role="tabpanel">
									<div class="reviews_wrapper">
										<h2>1 review for Donec eu furniture</h2>
										<div class="reviews_comment_box">
											<div class="comment_thmb">
												<img src="assets/img/blog/comment2.jpg" alt="">
											</div>
											<div class="comment_text">
												<div class="reviews_meta">
													<div class="star_rating">
														<ul class="d-flex">
															<li><a href="#"><i class="icon-star"></i></a></li>
															<li><a href="#"><i class="icon-star"></i></a></li>
															<li><a href="#"><i class="icon-star"></i></a></li>
															<li><a href="#"><i class="icon-star"></i></a></li>
															<li><a href="#"><i class="icon-star"></i></a></li>
														</ul>
													</div>
													<p>
														<strong>admin </strong>- September 12, 2018
													</p>
													<span>roadthemes</span>
												</div>
											</div>

										</div>
										<div class="comment_title">
											<h2>Add a review</h2>
											<p>Your email address will not be published. Required
												fields are marked</p>
										</div>
										<div class="product_ratting mb-10">
											<h3>Your rating</h3>
											<ul class="d-flex">
												<li><a href="#"><i class="icon-star"></i></a></li>
												<li><a href="#"><i class="icon-star"></i></a></li>
												<li><a href="#"><i class="icon-star"></i></a></li>
												<li><a href="#"><i class="icon-star"></i></a></li>
												<li><a href="#"><i class="icon-star"></i></a></li>
											</ul>
										</div>
										<div class="product_review_form">
											<form action="#">
												<div class="row">
													<div class="col-12">
														<label for="review_comment">Your review </label>
														<textarea name="comment" id="review_comment"></textarea>
													</div>
													<div class="col-lg-6 col-md-6">
														<label for="author">Name</label> <input id="author"
															type="text">

													</div>
													<div class="col-lg-6 col-md-6">
														<label for="email">Email </label> <input id="email"
															type="text">
													</div>
												</div>
												<button type="submit">Submit</button>
											</form>
										</div>
									</div>
								</div>
								<!-- 문의리스트, 문의 상세보기, 문의 작성하기 -->
								<div class="tab-pane fade" id="qna" role="tabpanel">

									<div class="product_d_table">
										<form id="qnaFrm" action="#"></form>
									</div>
								</div>
								<!-- 문의리스트 끝 -->
								<!-- 문의폼 템플릿 -->
								<div id="qnaInsertTemplate" style="display: none;">
									<div>
										<h2>문의하기</h2>
									</div>
									<br>
									<div class="product_review_form">
										<form action="#">
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<input id="title" name="title" type="text"
														placeholder="제목을 입력하세요">
												</div>
												<br> <br>
												<div class="col-12">
													<textarea name="content" id="content"
														placeholder="문의내용을 입력하세요" style="padding-top: 10px"></textarea>
												</div>
											</div>
										</form>
									</div>
									<br> <span class="stock listCall"> < 목록으로</span>
									<div class="shopping_continue_btn" align="center">
										<button class="btn btn-primary" type="button" id="submitQna">문의
											제출하기</button>
									</div>
								</div>

								<!-- 문의폼 템플릿 끝 -->

								<!-- 취소/교환 정책 안내 시작 -->
								<div class="tab-pane fade" id="additional" role="tabpanel">
									<div class="product_info_content">
										<form action="#">
											<div class="df-cont">
												<p>
													<b>교환 및 반품이 가능한 경우</b><br> - 상품을 공급 받으신 날로부터 7일이내,
												</p>
												<p>
													&nbsp;&nbsp; 단, 포장이 훼손되어 상품가치가 상실된 경우에는 교환/반품이 불가능합니다.<br>
													- 공급받으신 상품 및 용역의 내용이 표시.광고 내용과
												</p>
												<p>
													&nbsp;&nbsp; 다르거나 다르게 이행된 경우에는 공급받은 날로부터 3월이내, 그사실을 알게 된
													날로부터 30일이내<br> <br> <b>교환 및 반품이 불가능한 경우</b><br>
													- 고객님의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우.
												</p>
												<p>
													&nbsp;&nbsp; 단, 상품의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외<br>
													- 포장을 개봉하였거나 포장이 훼손되어 상품가치가 상실된 경우<br> - 고객님의 사용 또는 일부
													소비에 의하여 상품의 가치가 현저히 감소한 경우<br> - 시간의 경과에 의하여 재판매가 곤란할
													정도로 상품등의 가치가 현저히 감소한 경우<br> - 복제가 가능한 상품등의 포장을 훼손한 경우<br>
													&nbsp; &nbsp;(자세한 내용은 고객만족센터 1:1 E-MAIL상담을 이용해 주시기 바랍니다.)<br>
													<br> ※ 고객님의 마음이 바뀌어 교환, 반품을 하실 경우 상품반송 비용은 고객님께서 부담하셔야
													합니다.<br> &nbsp;&nbsp; (색상 교환, 사이즈 교환 등 포함)
												</p>
											</div>
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>

</html>