<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.classes.mapper.ClassMapper">

	<!-- (메인)클래스 리스트 -->
	<select id="classSelectList" resultType="com.team.prj.classes.service.ClassVO">
		SELECT * 
		FROM CLASS
	</select>
	
	
	
	<!-- 클래스 단건조회 -->
	<select id="classSelect" parameterType="com.team.prj.classes.service.ClassVO"
			resultType="com.team.prj.classes.service.ClassVO">
		SELECT *
		FROM CLASS
		WHERE CLASS_NO = #{classNo}
	</select>
	
	<insert id="classInsert" parameterType="com.team.prj.classes.service.ClassVO">
			<selectKey keyProperty="classNo" order="BEFORE" resultType="int">
			SELECT
				CASE WHEN MAX(CLASS_NO) IS NULL THEN 1 ELSE MAX(CLASS_NO) + 1 END AS NO
			FROM CLASS
			</selectKey>
		INSERT INTO CLASS
		VALUES(#{classNo},#{name},#{category},#{intro},#{price},0,#{uploadDate},0,#{maxHeadcount},#{tutorNo},#{groupNo},#{address},#{latitude},#{longitude},#{categoryId},#{returnMessage})
	</insert>
	
	<update id="classUpdate" parameterType="com.team.prj.classes.service.ClassVO">
		update class
		<set>
			<if test="category != null">CATEGORY = #{category},</if>
			<if test="intro != null">INTRO = #{intro},</if>
			<if test="price != null">PRICE = #{price},</if>
			<if test="uploadDate != null">UPLOAD_DATE = #{uploadDate},</if>
			<if test="maxHeadcount != null">MAX_HEADCOUNT = #{maxHeadcount},</if>
			<if test="latitude != null">LATITUDE = #{latitude},</if>
			<if test="longitude != null">LONGITUDE = #{longitude},</if>
		</set>
		WHERE CLASS_NO = #{classNo}
	</update>
	
	<delete id="classDelete">
		DELETE FROM CLASS
		WHERE CLASS_NO = #{classNo}
	</delete>
	
	<select id="classSearch" resultType="com.team.prj.classes.service.ClassVO">
		select * from class
		<where>
			<if test="categories != null">
				and category in <foreach item="category" collection="categories" open="(" close=")" separator=",">
				#{category}
				</foreach>
			</if>
			<!--<if test="addresses != null">
				and address in <foreach item="address" collection="addresses" open="(" close=")" separator=",">
				#{address}
				</foreach>
			</if>-->
			
			<if test="address != null">
					AND ADDRESS LIKE '%'|| #{address} ||'%'
			</if>
			
			<!--<choose>
				<when test="searchkey == 'name'">
					AND NAME LIKE '%'|| #{searchval} ||'%'
				</when>
				  
				<when test="searchkey == 'address'">
					AND ADDRESS LIKE '%'|| #{searchval} ||'%'
				</when> 
			</choose>  -->
		</where>	
	</select>

	
	
	<!-- 단건조회에서 날짜셀렉트-->
	<select id="classDateOption" resultType="com.team.prj.classes.service.ClassOptionVO">
		SELECT to_char(START_DT, 'yyyy-MM-DD HH:MM') START_DT, to_char(END_DT, 'HH:MM') END_DT, ALL_HEADCOUNT, CLASS_OPTION_NO
		from class_option
		where CLASS_NO = #{param2}
		and to_char(START_DT, 'yyyy-MM-DD') = #{param1}
	</select>
	
	

</mapper>