<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.funeral.mapper.FuneralMapper">


	<select id="findAll"
		resultType="com.team.prj.funeral.service.FuneralVO">
		SELECT *
		FROM FUNERAL
		ORDER BY FUNERAL_NO
	</select>

	<select id="funeralSelect"
		parameterType="com.team.prj.funeral.service.FuneralVO"
		resultType="com.team.prj.funeral.service.FuneralVO">

		SELECT FUNERAL_NO,
		NAME,
		ADDRESS,
		CALL,
		INFO,
		HOMEPAGES,
		FPHOTO,
		LATITUDE,
		LONGITUDE,
		CATEGORY_ID

		FROM FUNERAL
		WHERE FUNERAL_NO=#{funeralNo}

	</select>

	<!-- 소현 스크랩 용도 -->
	<insert id="scrapInsert"
		parameterType="com.team.prj.scrap.service.ScrapVO">
		INSERT INTO SCRAP (SCRAP_NO,USER_NO,BOARD_NO,DT,CATEGORY_ID)
		VALUES ((SELECT NVL(MAX(SCRAP_NO), 0) + 1 FROM
		SCRAP),#{userNo},#{boardNo},sysdate,#{categoryId})
	</insert>

  <!-- 리뷰리스트 조회 -->
	<select id="funeralreviewSelectList"
		resultType="com.team.prj.review.service.ReviewVO"
		parameterType="com.team.prj.funeral.service.FuneralVO">
			SELECT R.REVIEW_NO, R.TITLE, R.CONTENT, R.STAR, R.DT, R.BOARD_NO,
		R.CATEGORY_ID, R.GROUP_NO, R.USER_NO, U.NICKNAME
		FROM REVIEW R, USERS U
			WHERE R.USER_NO = U.USER_NO
		AND CATEGORY_ID ='f'
		AND BOARD_NO = #{funeralNo}
	</select>
	
	<!-- 단건리뷰리스트 조회 -->
	<select id="funeralreviewSelect"
		resultType="com.team.prj.review.service.ReviewVO"
		parameterType="com.team.prj.review.service.ReviewVO">
			SELECT R.REVIEW_NO, R.TITLE, R.CONTENT, R.STAR, R.DT, R.BOARD_NO,
		R.CATEGORY_ID, R.GROUP_NO, R.USER_NO, U.NICKNAME
		FROM REVIEW R, USERS U
		WHERE R.USER_NO = U.USER_NO
		AND CATEGORY_ID ='f'
		AND REVIEW_NO = #{reviewNo}
		ORDER BY R.REVIEW_NO DESC   
	</select>





</mapper>