<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_admin}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<title>회원 관리 - 개인회원</title>
<style>
.uList {
	/* 	position: relative;
	top: 50%;
 */
	margin-top: 100px;
}
</style>
</head>
<body>
	<article layout:fragment="content">

		<script>
			
		</script>

		<h5 class="fw-bold py-3 mb-4">
			<span class="text-muted ">회원 관리  </span> 
		</h5>

		<!-- Basic Table -->
		<div class="card">
			<h5 class="card-header">일반 회원</h5>
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th>선택</th>
							<th>회원번호</th>
							<th>아이디</th>
							<th>이름</th>
							<th>닉네임</th>
							<th>상태</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<tr th:each="u:${users}">
							<td><input type="checkbox" id="ckbox"></td>
							<td th:text="${u.userNo}"></td>
							<td th:text="${u.id}"></td>
							<td th:text="${u.name}"></td>
							<td th:text="${u.nickname}"></td>
							<td th:text="${u.state}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--/ Basic Bootstrap Table -->

	</article>

</body>
</html>