<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.cart.mapper.CartMapper">
	<select id="cartList"
		resultType="com.team.prj.cart.service.CartVO">
		select *
		from goods g, cart c
		where g.goods_no = c.goods_no
		and c.user_no = #{userNo}
	</select>

	<insert id="insertCart">
		<selectKey keyProperty="cartNo" order="BEFORE"
			resultType="int">
			select case when max(cart_no) is null then 1 else
			max(cart_no)+1 end
			from cart
		</selectKey>
		insert into cart
		values(#{goodsNo}, #{userNo}, #{qty}, #{cartNo})
	</insert>
	
	<delete id="deleteCart">
		delete cart where cart_no=#{cartNo}
	</delete>
</mapper>