<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_admin}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>검토 - 상품</title>

<!-- Core CSS -->
<link rel="stylesheet" href="/admin/assets/vendor/css/core.css"
	class="template-customizer-core-css" />
<link rel="stylesheet" href="/admin/assets/vendor/css/theme-default.css"
	class="template-customizer-theme-css" />
<link rel="stylesheet" href="/admin/assets/css/demo.css" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

<link rel="stylesheet"
	href="/admin/assets/vendor/libs/apex-charts/apex-charts.css" />

<!-- jquery 위로 올림 -->
<script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>

<!-- Page CSS -->

<!-- Helpers -->
<script src="/admin/assets/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="/admin/assets/js/config.js"></script>


</head>
<body>
	<article layout:fragment="content">
		<br> <br>
		<h5 class="fw-bold py-3 mb-4">
			<span class="text-muted ">등록 검토 / </span> 상품
		</h5>
		<br> <br>

		<!-- goods 테이블 -->
		<div class="card">
			<h5 class="card-header"></h5>
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheckBox"
								onclick="allChecked()"></th>
							<th>상품 번호</th>
							<th>카테고리</th>
							<th>상품 명</th>
							<th>등록일자</th>
							<th>상태</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<tr th:each="g:${pageInfo.list}" th:id="${g.goodsNo}">
							<td><input type="checkbox" name="chk" class="chk"
								onclick="chkClicked()"></td>
							<td th:text="${g.goodsNo}"></td>
							<td th:text="${g.category}"></td>
							<td th:text="${g.name}" data-bs-toggle="modal"
								th:data-bs-target="|#modal_box_${g.goodsNo}|"></td>

							<!-- <td><a th:href="@{/goods(goodsNo=${g.goodsNo})}"
								th:text="${g.name}" data-bs-toggle="modal" data-bs-target="#goodsPreview"></a></td> -->
							<td th:text="${g.uploadDate}"></td>
							<td th:text="${g.uploadState}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Table end-->
		<br>
		<button type="button" class="btn btn-sm btn-primary" id="approve">승인</button>
		<button type="button" class="btn btn-sm btn-primary" id="disapprove"
			data-bs-toggle="modal" data-bs-target="#basicModal">반려</button>

		<!-- 모달 반복되는 구간 -->
		<!-- 클릭 시 미리보기 Modal-->
		<div th:each="gm:${pageInfo.list}" class="modal fade"
			th:id="|modal_box_${gm.goodsNo}|" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel4">미리보기</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!--breadcrumbs area start-->
						<div class="breadcrumbs_area breadcrumbs_product">
							<div class="container"></div>
						</div>
						<!--breadcrumbs area end-->
						<!--product details start-->
						<section class="product_details mb-135">
							<div class="container">
								<div class="row">
									<div class="col-lg-6 col-md-6">
									<!-- 썸네일 -->
										<div class="modal_zoom_gallery">
											<div class="product_zoom_thumb">
												<img th:src="${gm.thumb}" alt="">
											</div>
										</div>
									<!-- /썸네일 -->										
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="product_d_right">
											<br>
											<h3>[[${gm.name}]]</h3>

											<br> <br>
											<div class="price_box">
												<span class="old_price">KRW
													[[${#numbers.formatInteger(gm.price,3,'COMMA')}]]</span><br>
												<span class="current_price">KRW
													[[${#numbers.formatInteger(gm.price*(1-gm.dc),3,'COMMA')}]]</span>
											</div>
											<div class="product_availalbe">
												<ul class="d-flex">
													<li><i class="icon-layers icons"></i> Only <span
														id="amount">[[${gm.amount}]]</span> left</li>
													<li>Available: <span id="stock" class="stock">In
															Stock</span></li>
												</ul>
											</div>

											<div class="product_variant">

												<div class="variant_quantity_btn d-flex">
													<div class="pro-qty border">
														<input min="1" max="100" type="text" id="setQty" value="1">
													</div>
													<button class="button btn btn-primary" type="button"
														id="addCart">
														<i class="ion-android-add"></i> Add To Cart
													</button>

													<a class="wishlist" href="#"><i class="ion-ios-heart"></i></a>

												</div>
											</div>


										</div>
									</div>
								</div>
							</div>
						</section>
						<!--product details end-->

						<!--product info start-->
						<div class="product_d_info mb-118">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="product_d_inner">

											<div class="tab-content">
												<div class="tab-pane fade show active" id="info"
													role="tabpanel">
													<div class="product_info_content" align="center">
														<!-- 상세 사진  -->
														<img th:src="${gm.detail}"></img>
													</div>
												</div>


											</div>

										</div>
									</div>
								</div>
							</div>
						</div>



					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary"
							data-bs-dismiss="modal">Close</button>

					</div>
				</div>
			</div>
		</div>
		<br> <br>




		<!-- 반려 클릭 시 Modal -->
		<div class="modal fade" id="basicModal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col mb-3">
								<label for="nameBasic" class="form-label">반려 메세지</label>
								<form>
									<textarea class="form-control" id="Textarea1" rows="5"
										name="returnMessage"></textarea>
									<input type="hidden" name="uploadState" value="2">
								</form>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary"
							data-bs-dismiss="modal">취소</button>
						<button type="button" class="btn btn-primary" id="gUpdate">저장</button>
					</div>
				</div>
			</div>
		</div>
		<br> <br>

		<!-- 페이지네이션 -->
		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-info  justify-content-center">
				<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
					class="page-link">«</span></li>
				<li class="page-item"
					th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
					class="page-link"
					th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
					rel="prev">«</a></li>
				<li
					th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
					th:each="page:${pageInfo.navigatepageNums}"><span
					class="page-link" th:if="${pageInfo.pageNum eq page}"
					th:text="${page}"></span> <a class="page-link"
					th:unless="${pageInfo.pageNum eq page}"
					th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page}}</a></li>
				<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
					class="page-link"
					th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
					rel="next">»</a></li>
				<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
					class="page-link">»</span></li>
			</ul>
		</nav>

		<script>
			function gopage(p) {
				location.href = '/manager/goodsConfirm?pageNum=' + p;
			}
		</script>
		<!-- 페이지네이션 -->

		<!-- 체크박스 -->
		<script>
		// 체크박스 전체 선택
		function allChecked(target){
			//전체 체크박스 버튼
			const checkbox = document.getElementById('allCheckBox');
			
			// 전체 체크박스 체크 여부
			const is_checked = checkbox.checked;
			
			//전체 체크박스 제외한 모든 체크박스
			if(is_checked){
				//체크박스 전체 체크
				chkAllChecked()
			}else{
				//체크박스 전체 해재
				chkAllUnChecked()
			}
		}
		
		// 자식 체크박스 클릭이벤트
		function chkClicked(){
			//체크박스 전체 개수
			const allCount = document.querySelectorAll(".chk").length;
			
			//체크된 체크박스 전체 개수
			const query = 'input[name="chk"]:checked'
			const selectedElements = document.querySelectorAll(query)
			const selectedElementsCnt = selectedElements.length;
			
			//체크박스 전체 개수 = 체크된 체크박스 개수 => 전체 체크박스 체크
			if(allCount == selectedElementsCnt){
				document.getElementById('allCheckBox').checked = true;
			
				//같지 않으면 전체 체크박스 해제
			}else{
				document.getElementById('allCheckBox').checked = false;
			}
		}
		//체크박스 전체 체크
		function chkAllChecked(){
			document.querySelectorAll(".chk").forEach(function(v,i){
				v.checked = true;
			});
		}
		//체크박스 전체 해제
		function chkAllUnChecked(){
			document.querySelectorAll(".chk").forEach(function(v,i){
				v.checked = false;
			});
		}	
		</script>

		<!-- 승인 클릭 시 -->
		<script>
		var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");

			$('#approve').on('click', function(){
			    let chkbox = document.querySelectorAll(".chk");
			    console.log(chkbox)
			    chkbox.forEach(elem => {
				    if(elem.checked==true){
				    	let no = elem.closest('tr').getAttribute('id')
				    	console.log(no);
				    	$.ajax({
							url: '/postUpdateAjax',
							type: 'post',
							beforeSend : function(xhr){
								xhr.setRequestHeader(header, token)},
							data: {
								category : 'S',
								no : no
							}
						})
						.done(res => {
							document.getElementById(no).remove();
							
						})
				    }
			    });
			})
			
			// 반려 - return message 입력 후 '저장' 클릭 시
			$('#gUpdate').on('click', function(){
			    let chkbox = document.querySelectorAll(".chk");
			    //let uploadState = '2';
			    let returnMessage = document.getElementById("Textarea1").value;
			    console.log(returnMessage);
			    
			    chkbox.forEach(elem => {
			    	if(elem.checked==true){
				    	let no = elem.closest('tr').getAttribute('id')
				    	console.log(no);
				    $.ajax({
								url: '/goodsRefuseAjax',
								type: 'post',
								beforeSend: function (xhr) {
									xhr.setRequestHeader(header, token)
								},
								data: {
									//uploadState: uploadState,
									returnMessage: returnMessage,
									goodsNo: no
								}
							})
							.done(res => {
								location.href='/manager/goodsConfirm';
							})
			    	}
			    })
			})
		</script>
	</article>
</body>
</html>