<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_admin}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
<script
	src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

<title>Together Pet</title>
</head>

<body>
	<article layout:fragment="content">
		<!-- Profit Overview -->
		<div class="row">
			<h3 class="mb-0"
				style="padding-top: 20px; padding-bottom: 20px; font-weight: bold;">조회수 차트</h3>
			<div class="col-xl-12">
				<div class="nav-align-top mb-4">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="dailyTab"
							role="tabpanel">
							<div class="card h-100">
								<div class="card-body px-0">
									<div class="tab-content p-0">
										<div class="tab-pane fade show active"
											id="navs-tabs-line-card-income" role="tabpanel">

											<!-- 차트 -->
											<div style="width: 90%; margin: auto;">
											  <canvas id="line-chart"></canvas>
											</div>
											<!-- 차트 -->

											<!-- hit count Table -->
											<br> <br> <br>
											<div class="row" style="width: 100%; margin: auto;">
												<div style="width: 40%; height: auto; margin: 5px auto; text-align: center; border-right: 1px solid lightgray;">
													<table class="table" style="text-align: center; vertical-align: middle;">
														<thead>
															<tr>
																<th style="width: 30%;">날짜</th>
																<th style="width: 30%;">카테고리</th>
																<th style="width: 40%;">전체조회수</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="ct:${cntTb}">
																<td></td>
																<td>[[${ct.id}]]</td>
																<td>[[${ct.hit}]]</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div style="width: 60%; height: auto; margin: 5px auto; text-align: center;">
													<table class="table">
														<thead>
															<tr>
																<th style="width: 100px;">카테고리</th>
																<th style="width: 500px;">글제목</th>
																<th style="width: 100px;">조회수</th>
																<th style="width: 120px;">게시일자</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="c:${cnt}">
																<td>[[${c.id}]]</td>
																<td>[[${c.title}]]</td>
																<td>[[${c.hit}]]</td>
																<td>[[${c.dt}]]</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<!-- hit count Table -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--/ Profit Overview -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<canvas id="line-chart"></canvas>
		
		<script type="text/javascript">
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		$(document).ready(function() {
			getGraph();
		});
		
		function getGraph() {
			let timeList = []; // 시간
			let cnt = []; // 조회수
			
			$.ajax({
				url:"/admin/ajaxPostCount",
				type:"get",
				data: {
					id : "${count.id}"
				},
				dataType : "json",
				success : function(data) {
					for (let i = 0; i < data.length; i++) {
						timeList.push(data[i].dt);
						cnt.push(data[i].hit);
					}
					console.log(timeList); // 시간
					console.log(cnt); // 조회수
					
					new Chart(document.getElementById("line-chart"), {
						type:"line",
						data : {
							labels : timeList, // x축(날짜)
							datasets : [{
								data:cnt, // 값(조회수)
								label: "일별 게시판 조회수 통계 ",
								borderColor: "#6a7964",
								fill : false
							}]
						},
						options: {
						title: {
							display:true
						}
						}
					});
				},
				error:function() {
					alert("실패");
				}
			})
		}
		
		// Data Tables
		$('.table').DataTable({
			lengthChange : false,
			pageLength : 10,
			lengthMenu : [ 10, 20, 30, 40, 50 ],
			info : true,
			searching : false,
			ordering : false,
		});
		</script>
	</article>
</body>
</html>