<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_admin}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<script
	src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<article layout:fragment="content">

		<script type="text/javascript">
			var ctx = document.getElementById("myChart");
			const myChart = new Chart(ctx, {
				type : 'line',
				data : {
					labels : [ "5일전", "4일전", "3일전", "2일전", "1일전", "오늘" ],
					datasets : [ {
						label : '회원가입 수',
						data : [ 122, 19, 3, 5, 2, 3 ],
						fill : false,
						lineTension : 0,
						borderColor : "rgba(255, 201, 14, 1)",
						backgroundColor : "rgba(255, 201, 14, 0.5)",
						borderWidth : 2
					} ]
				},
				options : {
					responsive : true,
					scales : {
						yAxes : [ {
							ticks : {
								beginAtZero : true
							}
						} ]
					},
					label : {
						font : {
							family : "jua"
						}
					}
				}
			});
		</script>
		
	<!-- 데이터 -->
    <input type="hidden" id="memMinus1" value="${memMinus1}">
    <input type="hidden" id="memMinus2" value="${memMinus2}">
    <input type="hidden" id="memMinus3" value="${memMinus3}">
    <input type="hidden" id="memMinus4" value="${memMinus4}">
    <input type="hidden" id="memMinus5" value="${memMinus5}">
    <input type="hidden" id="memToday" value="${memToday}">
		
		
		
	</article>
</body>
</html>