<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>원데이 클래스 목록</title>
</head>
<body>
<h1>원데이 클래스 목록</h1>

총 [[ ${#lists.size(class)} ]] 개의 클래스가 회원님의 등록을 기다리고 있어요.
<br>

<br>
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>카테고리</th>
				<th>클래스명</th>
				<th>주소</th>
				<th>수업료</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="c:${class}">
				<td th:text="${c.classNo}"></td>
				<td th:text="${c.category}"></td>
				<td th:text="${c.name}"></td>
				<td th:text="${c.address}"></td>
				<td th:text="${c.price}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>