<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_classList}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<!--script src="http://code.jquery.com/jquery-latest.min.js"></script>   -->

<script>
document.addEventListener('DOMContentLoaded', function() {
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	// 정렬
	orderby();
	function orderby(){
	$('#orderby').on('change', function(){
		$('#key').val($('#orderby').val());
		$('#getOrderBy').submit();
	})
	}
	
	// 1016 선희 추가(마이페이지 위시리스트에 등록)
	// 스크랩 하트버튼 클릭시
	$("#all").on('click','.scrapBtn', function() {
		let categoryId = $(this).children().val(); // 클래스 카테고리 c
		// console.log(categoryId);
		let classNo =$(this).children().next().val(); // classNo 클래스 번호
		// console.log(classNo);
		let userNo = $(this).children().next().next().val(); // userNo 유저번호
		// console.log(userNo);
		
		// 스크랩 등록 처리
		if (!confirm("스크랩 하시겠습니까?")) {
			return;
		}
		
		$.ajax({
	         url:'/scrapInsert.do',
	         type:'post',
	         beforeSend : function(xhr){
					xhr.setRequestHeader(header, token)},
	     	 dataType:'json',
	         data:{categoryId:categoryId, userNo:userNo, boardNo:classNo},
	         success:function(data,idx,arr){
			 	// console.log(arr);
				alert("스크랩이 성공적으로 등록되었습니다.")
	       }
	    })
	})
	
})

</script>
<style>
#pageColor {
	background-color: #6a7964;
	border-color: #6a7964;
	color:white;
}
.page-link {
	color:black;
}
</style>


<title>원데이 클래스 목록</title>
</head>


<body>

	<article layout:fragment="content">
	<br> <br> <br> <br>
		<!--shop  area start-->
		<div class="shop_section shop_reverse">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">

						<!--breadcrumbs area start-->
						<div class="breadcrumb_content">
							<ul>
								<li><a href="index.html">home</a></li>
								<li>class</li>
							</ul>
						</div>
						<!--breadcrumbs area end-->



						<!--sidebar widget start-->
						<aside class="sidebar_widget">
							<div class="widget_inner">
								<div class="widget_list widget_filter">
									<h2>클래스 찾아보기</h2>

									<form method="get" id="classSearchForm" name="classSearchForm">

										
										<!--<div class="sorting_by d-flex align-items-center" id="cl2">
											<span>지역</span>
												<select name="addressRegion" id="addressRegion1"></select> 
												<select name="address" id="addressDo1"></select>
										</div>  -->
										
										
										<div class="filter__list widget_color" id="cl1" style="width: 50%;">
											<h3>지역</h3>

											<div id="addr">
												<div id="img6">
													<input type="radio" name="address" value="서울" id="chk6">
													<label for="chk6">
														<img src="https://mochaclass.com/static/media/location1_default.0894fd94.svg" alt="서울" id="i6">
														<img src="https://mochaclass.com/static/media/location1_over.97f5af5d.svg"  alt="서울" id="i6-1">
													</label>
													<br><a id="a6">서울</a>
												</div>
											</div>

											<div id="addr">
												<div id="img7">
													<input type="radio" name="address" value="경기" id="chk7">
													<label for="chk7">
														<img src="https://mochaclass.com/static/media/location2_default.2d21abc0.svg" alt="경기" id="i7">
														<img src="https://mochaclass.com/static/media/location2_over.b610d402.svg" alt="경기" id="i7-1">
													</label>
													<br><a id="a7">경기</a>
												</div>
											</div>

											<div id="addr">
												<div id="img8">
													<input type="radio" name="address" value="부산" id="chk8">
													<label for="chk8">
														<img src="https://mochaclass.com/static/media/location3_default.d80d2d02.svg" alt="부산" id="i8">
														<img src="https://mochaclass.com/static/media/location3_over.e21b9673.svg" alt="부산" id="i8-1">
													</label>
													<br><a id="a8">부산</a>
												</div>
											</div>

											<div id="addr">
												<div id="img9">
													<input type="radio" name="address" value="인천" id="chk9">
													<label for="chk9">
														<img src="	https://mochaclass.com/static/media/location4_default.57b7f746.svg" alt="인천" id="i9">
														<img src="https://mochaclass.com/static/media/location4_over.f45f35fd.svg" alt="인천" id="i9-1">
													</label>
													<br><a id="a9">인천</a>
												</div>
											</div>

											<div id="addr">
												<div id="img10">
													<input type="radio" name="address" value="대구" id="chk10">
													<label for="chk10">
														<img src="https://mochaclass.com/static/media/location5_default.388fe582.svg" alt="대구" id="i10">
														<img src="https://mochaclass.com/static/media/location5_over.fb9bf27e.svg" alt="대구" id="i10-1">
													</label>
													<br><a id="a10">대구</a>
												</div>
											</div>
											
											<div id="addr">
												<div id="img11">
													<input type="radio" name="address" value="울산" id="chk11">
													<label for="chk11">
														<img src="	https://mochaclass.com/static/media/location6_default.9babe2f2.svg" alt="울산" id="i11">
														<img src="https://mochaclass.com/static/media/location6_over.3cd7c8a6.svg" alt="울산" id="i11-1">
													</label>
													<br><a id="a11">울산</a>
												</div>
											</div>
											
											<div id="addr">
												<div id="img12">
													<input type="radio" name="address" value="광주" id="chk12">
													<label for="chk12">
														<img src="	https://mochaclass.com/static/media/location7_default.eb889b28.svg" alt="광주" id="i12">
														<img src="https://mochaclass.com/static/media/location6_over.3cd7c8a6.svg" alt="광주" id="i12-1">
													</label>
													<br><a id="a12">광주</a>
												</div>
											</div>
											
											<div id="addr">
												<div id="img13">
													<input type="radio" name="address" value="대전" id="chk13">
													<label for="chk13">
														<img src="	https://mochaclass.com/static/media/location8_default.4d3d4dfa.svg" alt="대전" id="i13">
														<img src="https://mochaclass.com/static/media/location8_over.878e58e6.svg" alt="대전" id="i13-1">
													</label>
													<br><a id="a13">대전</a>
												</div>
											</div>
											
											<div id="addr">
												<div id="img14">
													<input type="radio" name="address" value="전남,전북" id="chk14">
													<label for="chk14">
														<img src="	https://mochaclass.com/static/media/location9_default.92e5b652.svg" alt="경상남도" id="i14">
														<img src="https://mochaclass.com/static/media/location9_over.a07f5aec.svg" alt="경상남도" id="i14-1">
													</label>
													<br><a id="a14">전남 전북</a>
												</div>
											</div>
											
											<div id="addr">
												<div id="img15">
													<input type="radio" name="address" value="경남,경북" id="chk15">
													<label for="chk15">
														<img src="https://mochaclass.com/static/media/location10_default.ee80bfb5.svg" alt="경상북도" id="i15">
														<img src="https://mochaclass.com/static/media/location10_over.76d3f6e2.svg" alt="경상북도" id="i15-1">
													</label>
													<br><a id="a15">경남 경북</a>
												</div>
											</div>
											
											<div id="addr">
												<div id="img16">
													<input type="radio" name="address" value="제주" id="chk16">
													<label for="chk16">
														<img src="	https://mochaclass.com/static/media/location11_default.4c2666de.svg" alt="전라남도" id="i16">
														<img src="https://mochaclass.com/static/media/location11_over.221d6521.svg" alt="전라남도" id="i16-1">
													</label>
													<br><a id="a16">제주</a>
												</div>
											</div>
											
											<div id="addr">
												<div id="img17">
													<input type="radio" name="address" value="강원" id="chk17">
													<label for="chk17">
														<img src="https://mochaclass.com/static/media/location12_default.52013261.svg" alt="전라북도" id="i17">
														<img src="https://mochaclass.com/static/media/location12_over.c2a687ed.svg" alt="전라북도" id="i17-1">
													</label>
													<br><a id="a17">강원</a>
												</div>
											</div>
											
											
										</div>
										
												
										<div class="filter__list widget_color" id="cl2" style="width: 50%;">
											<h3>카테고리</h3>

											<div id="cate">
												<div id="img1">
													<input type="checkbox" name="categories" value="food" id="chk1" >
													<label for="chk1"><img src="https://mochaclass.com/static/media/cook.c9477baa.svg" alt="펫 푸드" id="i1"></label>
													<br><a id="a1">펫 푸드</a>
												</div>
											</div>

											<div id="cate">
												<div id="img2">
													<input type="checkbox" name="categories" value="handmade" id="chk2">
													<label for="chk2"><img src="https://mochaclass.com/static/media/craft.13dd03d8.svg" alt="펫 핸드메이드"></label>
													<br><a id="a2">펫 핸드메이드</a>
												</div>
											</div>

											<div id="cate">
												<div id="img3">
													<input type="checkbox" name="categories" value="beauty" id="chk3">
													<label for="chk3"><img src="https://mochaclass.com/static/media/pet.6855bdf3.svg" alt="펫 미용"></label>
													<br><a id="a3">펫 미용</a>
												</div>
											</div>

											<div id="cate">
												<div id="img4">
													<input type="checkbox" name="categories" value="drawing" id="chk4">
													<label for="chk4"><img src="https://mochaclass.com/static/media/drawing.04d157cf.svg" alt="펫 드로잉"></label>
													<br><a id="a4">펫 드로잉</a>
												</div>
											</div>

											<div id="cate">
												<div id="img5">
													<input type="checkbox" name="categories" value="etc" id="chk5">
													<label for="chk5"><img src="https://mochaclass.com/static/media/flower.107080ef.svg" alt="기타"></label>
													<br><a id="a5">기타</a>
												</div>
											</div>
											
										</div>

										<div id="cl3">
											<button type="button" id="classSearch" class="button btn btn-primary"
											style="display:inline-block">클래스 검색 🔍</button>
											<br><br><br>
										</div>
									</form>
								</div>
							</div>
						</aside>
						<!--sidebar widget end-->



						<div class="shop_banner d-flex align-items-center"
							data-bgimg="assets/img/slider/clslide.jpg">
						</div>
						<!--shop toolbar start-->
						<div
							class="shop_toolbar_wrapper d-flex justify-content-between align-items-center">

							<div class="page_amount col-6">
								<p class="clst">
									<span class="classlist"> [[ ${#lists.size(pageInfo.list)} ]]개의
										클래스가 회원님의 등록을 기다리고 있어요!</span>
								</p>
							</div>
							<div class="sorting_by d-flex align-items-center col-6">
								<span>SORT BY </span> <select id="orderby" name="orderby" 
									class="select_option border">
									<option value="1">최신순</option>
									<option value="2">인기순</option>
									<option value="3">가격높은 순</option>
									<option value="4">가격낮은 순</option>
								</select>
							</div>
						</div>
						<!--shop toolbar end-->

						<div class="row shop_wrapper" id="all">
							<!---------싱글 상품 리스트 반복문---------->
							<div class="col-lg-4 col-md-4 col-sm-6 col-6" id="point"
								th:each="c:${pageInfo.list}">

								<div class="single_product">

									<!----썸네일---->
									<div class="product_thumb" id="product_thumb">
										<a th:href="@{classSelect(classNo=${c.classNo})}"> 
											<img th:src="@{display(fileName=${c.thumb})}" alt="consectetur" 
											class="card-img-top embed-responsive-item" id="thumb_img">
										</a>

										<!-- 스크랩기능 시작 1016 선희 추가 -->
										<div class="product_action">
											<ul>
												<li class="wishlist">
													<a class="scrapBtn" data-tippy="Wishlist"
														data-tippy-inertia="true" data-tippy-delay="50"
														data-tippy-arrow="true" data-tippy-placement="left">
														
														<input type="hidden" th:value="${c.categoryId}" name="categoryId"> 
														<input type="hidden" th:value="${c.classNo}" name="classNo">
														<input type="hidden" th:value="${session.user.userNo}" name="userNo">
														<i class="icon-heart"></i>
													</a>
												</li>
											</ul>
										</div>
										<!--스크랩기능 끝  -->
									</div>

									<!-----센터설명------>
									<div class="product_content grid_content text-center">
								
										<div class="clas1">
											<button class="catebtn">[[${c.category}]]</button>
											<br>
											<h4 class="product_name">
												<a class="clasname" th:href="@{classSelect(classNo=${c.classNo})}"
													>[[${c.name}]]</a>
											</h4>
										</div>
										<div class="clas2">
											<h4 class="product_name" >
												<a th:href="@{classSelect(classNo=${c.classNo})}"
													>🗺 [[${c.address}]]</a>
											</h4>
											<div class="price_box">
												<span class="current_price">KRW [[${#numbers.formatInteger(c.price,3,'COMMA')}]]</span>
											</div>
										</div>
										<div class="add_to_cart">
											<a class="btn btn-primary" href="#" data-tippy="Add To Cart"
												data-tippy-inertia="true" data-tippy-delay="50"
												data-tippy-arrow="true" data-tippy-placement="top">클래스
												찜하기</a>
										</div>
									</div>


								</div>
							</div>
							<!---------싱글 상품 리스트 반복문---------->
						</div>
						
												
						 <!-- 페이지네이션 -->
						 <nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}" id="pageColor"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>
						
												
						<form id="getOrderBy" action="classList" method="post">
							<div sec:authorize="isAuthenticated()">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}"><input type="hidden"
									name="key" id="key">
							</div>
						</form>
						
						<!-- 페이지네이션 -->
						<script>
		               		function gopage(p) {
		                  		location.href = '/classList?pageNum=' + p;
		                  	}
		               	</script>
						
						<!--shop wrapper end-->
					</div>
				</div>
			</div>
		</div>
		<!--shop  area end-->



	<script>
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	$("#classSearch").on('click', classSearch)
	
	
	/*-----------------------
	클래스 자연어 검색
	-------------------------*/	
	
	
	
	
	/*-----------------------
	클래스 간편 검색
	-------------------------*/	
	function classSearch(){
		// 사용자 ID를 갖고 온다.    
		//var userId = $("#userId").val();

		// 1. 카테고리가 같은 체크박스의 값들을 배열에 담는다.
		var categoryCkbox = [];
		$("input[name='categories']:checked").each(function(i) {
			categoryCkbox.push($(this).val());    
		});
		
		// 2. 셀렉트 주소 값들을 배열에 담는다.
		var addressCkbox = $("input[name='address']:checked").val();

		// 3. 사용자 ID(문자열)와 체크박스 값들(배열)을 name/value 형태로 담는다.
		var searchData = { 'categories' : categoryCkbox, 'address' : addressCkbox };

				$.ajax({ 
					 url :"classSearch",        
					 type :'post', //method 
					 beforeSend : function(xhr){
						   xhr.setRequestHeader(header, token)},       
					 data : searchData,//$('#classSearchForm').serialize(),        
					 //dataType : 'json',
					 success : function(response) {            
						console.log(categoryCkbox);
					 	console.log(addressCkbox);    
					 	
					 	htmlView(response);    
						//window.opener.location.reload();            
						//self.close();  
					},        
					 error:function(){      
						 console.log('오류');            
					 }
				 
				})
		
		function htmlView(datas) {
			$(".shop_wrapper").empty(); 
			$(".clst").empty();
			
			var length = datas.length;
			var newlength = `<span class="classlist"> ${length} 개의
				클래스가 회원님의 등록을 기다리고 있어요!</span>`
			$(".clst").append(newlength);
				
			for (c of datas){
			var result = `<div class="col-lg-4 col-md-4 col-sm-6 col-6" id="point">
				
							<div class="single_product">
								<!----썸네일?---->
								<div class="product_thumb"  id="product_thumb">
									<a href="/classSelect?classNo=${c.classNo}"> 
										<img class="primary_img"  id="thumb_img" src="display?fileName=${c.thumb}" alt="consectetur" class="card-img-top embed-responsive-item">
									</a>
									
									<div class="product_action">
										<ul>
											<li class="wishlist"><a href="#" data-tippy="Wishlist"
												data-tippy-inertia="true" data-tippy-delay="50"
												data-tippy-arrow="true" data-tippy-placement="left"><i
													class="icon-heart icons"></i></a></li>
										</ul>
									</div>
								</div>				
			
								<!-----센터설명------>
								<div class="product_content grid_content text-center">
									<div class="clas1">
										<button class="catebtn">${c.category}</button>
										<br>
										<h4 class="product_name">
											<a class="clasname" href="/classSelect?classNo=${c.classNo}">${c.name}</a>
										</h4>
									</div>
									
									<div class="clas2">
										<h4 class="product_name">
											<a href="/classSelect?classNo=${c.classNo}">🗺 ${c.address}</a>
										</h4>
										<div class="price_box">
											<span class="current_price">KRW ${c.price}</span>
										</div>
										
									</div>
									
									<div class="add_to_cart">
										<a class="btn btn-primary" href="#" data-tippy="Add To Cart"
											data-tippy-inertia="true" data-tippy-delay="50"
											data-tippy-arrow="true" data-tippy-placement="top">클래스 찜하기</a>
									</div>
								</div>
			
			
							</div>
						</div>`	
				$(".shop_wrapper").append(result); 

			}
		}		
	};

	</script>
	</article>
</body>
</html>