<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">
<head>
<meta charset="UTF-8">
<title>클래스 예약 확인</title>
</head>
<body>
		<article layout:fragment="content">
		<br> <br> <br> <br>
		<!--breadcrumbs area start-->
		<div class="breadcrumbs_area breadcrumbs_other">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="breadcrumb_content text-center">
							<ul>
								<li><a href="index.html">home</a></li>
								<li><a href="#">pages</a></li>
							</ul>
							<h3>예약 및 결제가 완료되었습니다.</h3>
							<br> <br>
						</div>
					</div>
					<div class="order_table_right">
						<form action="#">
							<div class="order_table table-responsive">
								<table>
									<thead>
										<tr>
											<th>수강자 정보</th>
											<th class="text-right"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>이름</td>
											<td class="text-right">[[${reserve.name}]]</td>
										</tr>
										<tr>
											<td>연락처</td>
											<td class="text-right">[[${reserve.call}]]</td>
										</tr>
										<tr>
											<td>결제 방법</td>
											<td class="text-right">[[${reserve.pay}]]</td>
										</tr>
									</tbody>
								</table>
								<table>
									<thead>
										<tr>
											<th>예약 및 결제 정보</th>
											<th class="text-right">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>클래스명</td>
											<td class="text-right">[[${reserve.className}]]</td>
										</tr>
										<tr>
											<td>적립금</td>
											<td class="text-right">- [[${reserve.money}]]</td>
										</tr>
									</tbody>
									<tfoot>
										<tr class="order_total">
											<th>Order Total</th>
											<td class="text-right">[[${reserve.totalPrice}]]</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</form>
						<div class="proceed_checkout_btn">
							<a class="btn btn-primary" href="classList">이어서 클래스 둘러보기</a>
							<!-- 상품리스트 -->
						</div>
						<br>
						<div class="proceed_checkout_btn">
							<a class="btn btn-primary" href="usersClassList">주문 페이지로 이동</a> <!-- 마이페이지 -->
							<!-- 마이페이지 -->
						</div>
					</div>
				</div>
			</div>
		</div>

	</article>
</body>
</html>