<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>테스트</title>


<link rel="stylesheet" href="/assets/css/sdp2.ko_KR.css" type="text/css" />


<script>
	
</script>


<style>
.prod-image__item:hover {
	
}

</style>


</head>
<body>


	<div class="prod-image" data-global-banner-fold="">
		<div id="repImageContainer" class="prod-image-container"
			data-global-banner-fold="">
			<div class="prod-image__items">

				<div class="prod-image__item">
					<!-- 여기밑에 넣은 사진 왼쪽에 썸네일처럼 조그맣게 나옴... -->
					<img src="assets/img/product/product1.jpg"> 
					<i class="prod-image__item__border"></i>
				</div>

				<div class="prod-image__item ">
					<img src="assets/img/product/product2.jpg"
						onerror="this.src='//t1a.coupangcdn.com/thumbnails/remote/490x490/image/coupang/common/no_img_1000_1000.png';"
						alt="thumb image" data-src="assets/img/product/product2.jpg"
						class="lazy-load-img"> <i class="prod-image__item__border"></i>
				</div>

				<div class="prod-image__item ">
					<img src="assets/img/product/product3.jpg"
						onerror="this.src='//t1a.coupangcdn.com/thumbnails/remote/490x490/image/coupang/common/no_img_1000_1000.png';"
						alt="thumb image" data-src="assets/img/product/product3.jpg"
						class="lazy-load-img"> <i class="prod-image__item__border"></i>
				</div>

				<div class="prod-image__item ">
					<img src="assets/img/product/product4.jpg"
						onerror="this.src='//t1a.coupangcdn.com/thumbnails/remote/490x490/image/coupang/common/no_img_1000_1000.png';"
						alt="thumb image" data-src="assets/img/product/product4.jpg"
						class="lazy-load-img"> <i class="prod-image__item__border"></i>
				</div>

				<div class="prod-image__item ">
					<img
						src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
						onerror="this.src='//t1a.coupangcdn.com/thumbnails/remote/490x490/image/coupang/common/no_img_1000_1000.png';"
						alt="thumb image"
						data-src="//thumbnail8.coupangcdn.com/thumbnails/remote/48x48ex/image/vendor_inventory/ced3/f7009f2bfc2141cfb35cd260a533e0bad59ab322ffad769a54e2a50de747.jpeg"
						class="lazy-load-img"> <i class="prod-image__item__border"></i>
				</div>

			</div>
			
			
			<img class="prod-image__detail" src="assets/img/product/product1.jpg"/> 

		</div>

		<div id="prodStickyBanner"
			class="product-sticky-banner-clickable prod-sticky-banner"></div>
	</div>


</body>

</html>