<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>반려동물숙박업체</title>
<style>
#row gy-2 gx-3 align-items-center {
	position: absolute;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<!--shop  area start-->
		<div class="shop_section shop_reverse">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">

						<!--breadcrumbs area start-->
						<div class="breadcrumb_content" style="margin: 50px;">
							<ul>
								<li><a href="index.html">home</a></li>
								<li>Petinfo</li>
								<li>AccomoList</li>
							</ul>
						</div>
						<!--breadcrumbs area end-->





						<div class="shop_banner d-flex align-items-center"
							data-bgimg="assets/img/bg/pexels-photo-59523.jpeg">
							<div class="shop_banner_text">
								<h2>
									essential <br> for my pets
								</h2>
								<p>
									The collections basic items <br> essential for all pets
								</p>
							</div>
						</div>



						<!--shop  area start-->
						<div class="shop_section shop_reverse">

							<div class="container">
								<div class="row">
									<div class="col-lg-12 col-md-12">

										<h1>반려동물 동반가능 숙소</h1>
										<h2>혼자 두지 마세요 , 이제 함께 떠나요🐾</h2>
										<br>
										<h4>투게더 펫 은 중계업체입니다 결제/예약관련은 해당 홈페이지 문의 바랍니다.</h4>

										<br> <br> <br>

										<!-- 검색기능 시작  -->
										<form class="row gy-2 gx-3 align-items-center" id="btn">
											<div class="col-auto">
												<select id="key" name="key">
													<option value="1">지역</option>
													<option value="2">숙소명</option>
												</select>
											</div>

											<div class="col-auto">
												<input class="form-control" type="text" id="val" name="val">
											</div>
											<div class="col-auto">
												<button type="button" class="btn btn-dark" id="Searchbtn"
													onclick="searchCall()">검색</button>
											</div>
										</form>
										<!-- 검색기능 끝  -->

										<br> <br> <br>

										<div class="row shop_wrapper ">

											<!--숙소 반복문 스타트! -->
											<div class="col-lg-4 col-md-4 col-sm-6 col-6 " id="point"
												th:each="a:${pageInfo.list}">
												<div class="single_product">
													<div class="product_thumb">
														<a th:href="@{accomo(accomoNo=${a.accomoNo})}"> <img
															class="primary_img" th:src="${a.aphoto}" alt="tree">
														</a>


														<!--스크랩기능 시작  -->
														<div class="product_action">
															<ul>
																<li class="wishlist"><a href="#"
																	data-tippy="Wishlist" data-tippy-inertia="true"
																	data-tippy-delay="50" data-tippy-arrow="true"
																	data-tippy-placement="left"><i
																		class="icon-heart icons"></i></a></li>
															</ul>
														</div>
														<!--스크랩기능 끝  -->


														<div class="product_content grid_content text-center">
															<h4 class="product_name">🐶[[${a.name}]]</h4>
															<div class="price_box">
																<span class="current_price">🐶[[${a.address}]]</span>
															</div>
															<div class="price_box">
																<span class="current_price">🐶[[${a.price}]]원</span>
															</div>
															<div class="product_name">
																<span class="current_price">👀[[${a.hit}]]</span>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!--숙소 반복문 끝! -->
											
											
						<!-- 페이지네이션 -->
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-info  justify-content-center">
								<li class="page-item disabled"
									th:if="${pageInfo.isIsFirstPage()}"><span
									class="page-link">«</span></li>
								<li class="page-item"
									th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
									rel="prev">«</a></li>
								<li
									th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
									th:each="page:${pageInfo.navigatepageNums}"><span
									class="page-link" th:if="${pageInfo.pageNum eq page}"
									th:text="${page}"></span> <a class="page-link"
									th:unless="${pageInfo.pageNum eq page}"
									th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
										}}</a></li>
								<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
									class="page-link"
									th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
									rel="next">»</a></li>
								<li class="page-item disabled"
									th:unless="${pageInfo.hasNextPage}"><span
									class="page-link">»</span></li>
							</ul>
						</nav>


						<!-- 페이지네이션 -->
											
					<script>
					function gopage(p) {
						location.href = '/accomoList?pageNum=' + p;}
					</script>	
											
											
											
											
											
											
											
											
											

	   <script>
		
		$("#Searchbtn").on('click', searchCall)
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
	
		function searchCall() {
			  let key = document.getElementById('key').value;
		      let val = document.getElementById('val').value;
		      console.log(key,",",val)
		     
		     
		     $.ajax({
		    	url : "accomoajaxSearch",
		    	method : 'get',//method
		    	data : {'key' : key, 'val' : val},
		    	dataType : 'json',
		    	success : function(response) {
					console.log('2',response);
					htmlView(response);
				},
				error : function () {
					console.log('오류');   
				}
		     });
		     
		     function htmlView(data) {
					//html로 변환해서 원하는 위치에 출력하도록 구현
					
					 $(".shop_wrapper>div").remove(); 
					 //$(".host").remove(); 
					 
				
					 for(a of data) {
					/* 	 if(date.length==0){
							 var result = `
								 <!--숙소 반복문 스타트! -->
								 <div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
										<div class="single_product" id="point">
											<div class="product_thumb">
													<h1>나중에 준비 ㅇㅋ?</h1>
											</div>
										</div>
									</div>
									`
						 }else{ */
					
						 var result = `
							 <!--숙소 반복문 스타트! -->
							 <div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
									<div class="single_product" id="point">
										<div class="product_thumb">
											<a href="accomo?accomoNo=${a.accomoNo}">
												<img class="primary_img" src="${a.aphoto}" alt="tree">
											</a>
											<!--스크랩기능 시작  -->
											<div class="product_action">
												<ul>
													<li class="wishlist">
													<a href="#"
														data-tippy="Wishlist" data-tippy-inertia="true"
														data-tippy-delay="50" data-tippy-arrow="true"
														data-tippy-placement="left"><i
															class="icon-heart icons"></i></a></li>
												</ul>
											</div>
											<!--스크랩기능 끝  -->
											<div class="product_content grid_content text-center">
												<h4 class="product_name">🐶${a.name}</h4>
												<div class="price_box">
													<span class="current_price">🐶${a.address}</span>
												</div>
												<div class="price_box">
													<span class="current_price">🐶${a.price}원</span>
												</div>
												<div class="product_name">
													<span class="current_price">👀${a.hit}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								`
								
								
								<!--숙소 반복문 끝! -->
							 $(".shop_wrapper").append(result); 	
							//$(".host").append(".card-body");
					 
					 		};	
					 			/* } */
					 	};
					     
					};
		</script>


											<!-- 페이징시작 -->
											<div
												class="pagination_style pagination justify-content-center">
												<ul class="d-flex">
													<li><a href="#"> << </a></li>
													<li><a href="#">1</a></li>
													<li><a class="current" href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#">5</a></li>
													<li><a href="#">>></a></li>
												</ul>
											</div>
											<!-- 페이징 끝-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</body>
</html>