<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout2}">
<head>
<meta charset="UTF-8">
<title>반려동물동반숙소</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
	/*-----------------------
	//별점 클릭 시 별점 조정	
	-------------------------*/
	$(document).on('click', '.fa-star', function(evt) {
		console.log('실행');
		var idxS = $(this).index();
		console.log(idxS);
		for (var i = 0; i <= idxS; i++) { // 별점 채우기
			$('.star-point').children().eq(i).css('color', '#FFB300');
		}
		for (var i = 4; i > idxS; i--) { // 별점 비우기
			$('.star-point').children().eq(i).css('color', '#d3d3d3');
		}
		$('#star').val(idxS + 1);
		$('.star-txt').html('<span>' + (idxS + 1) + '</span><span>점</span>');

	});
</script>

<style>
.btn {
	margin: auto;
	display: block;
}

/*================ 별점 ===============*/
.star-point:before {
	display: none;
}

.star-point {
	font-size: 54px;
	text-align: center;
	letter-spacing: -3px;
}

.star-point .fa-star {
	cursor: pointer;
	color: #d3d3d3;
}

.star-txt {
	height: 41px;
	padding-top: 8px;
	text-align: center;
	color: #999;
	font-size: 16px;
}

.star-txt>span:first-child {
	color: #ff385c;
	font-size: 27px;
	font-weight: 700;
}

.star-txt>span:nth-child(2) {
	color: #ff385c;
	font-size: 18px;
	font-weight: 700;
}
.reviewstar {
	font-size: xx-large;
	color: #ffd700;
}
</style>
</head>
<body>
	<article layout:fragment="content">
		<!--shop  area start-->
		<div class="shop_section shop_reverse">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">

						<!--breadcrumbs area start-->
						<div class="breadcrumb_content" style="margin: 50px;">
							<ul>
								<li><a href="index.html">home</a></li>
								<li>Petinfo</li>
								<li>accomo</li>
							</ul>
						</div>
						<!--breadcrumbs area end-->

						<div class="shop_banner d-flex align-items-center"
							data-bgimg="assets/img/bg/pexels-photo-59523.jpeg">
							<div class="shop_banner_text">
								<h2>
									essential <br> for my pets
								</h2>
								<p>
									The collections basic items <br> essential for all pets
								</p>
							</div>
						</div>

						<!--product details start-->
						<section class="product_details mb-135">
							<div class="container">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="product_zoom_gallery">
											<div class="zoom_gallery_inner d-flex">

												<div class="product_zoom_main_img" th:each="a:${accomo}">
													<div class="product_zoom_thumb">
														<img th:src="${a.aphoto}" alt="tab-thumb">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="product_d_right" th:each="a:${accomo}">

											<h1 th:text="${a.name}">숙소이름</h1>
											<div class="product_ratting_review d-flex align-items-center">
												<div class=" product_ratting">
													<ul class="d-flex">
														<li><a href="#"><i class="ion-ios-star"></i></a></li>
														<li><a href="#"><i class="ion-ios-star"></i></a></li>
														<li><a href="#"><i class="ion-ios-star"></i></a></li>
														<li><a href="#"><i class="ion-ios-star"></i></a></li>
														<li><a href="#"><i class="ion-ios-star"></i></a></li>
													</ul>
												</div>
												<div class="product_review">
													<ul class="d-flex">
														<li>4 reviews</li>
														<li>리뷰쓰세요</li>
													</ul>
												</div>
											</div>

											<div class="product_desc">
												<p>가격 : [[${a.price}]](1박)</p>
											</div>

											<div class="product_sku">
												<p>
													<span> 주소: </span> [[${a.address}]]
												</p>

												<p>
													<span> 정보: </span> [[${a.info}]]
												</p>

											</div>
											<input type="hidden" th:value="${a.accomoNo}" name="boardNo" id="accomoNo">
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--product details end-->

						<!--product info start-->
						<div class="product_d_info mb-118">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="product_d_inner">
											<div class="product_info_button border-bottom">
												<ul class="nav" role="tablist">
													<li><a class="active" data-toggle="tab" href="#info"
														role="tab" aria-controls="info" aria-selected="false">숙소정보</a>
													</li>
													<li><a data-toggle="tab" href="#reviews" role="tab"
														aria-controls="reviews" aria-selected="false">후기 </a></li>


												</ul>
											</div>
											<div class="tab-content">
												<div class="tab-pane fade show active" id="info"
													role="tabpanel">
													<div class="product_info_content">
														<p style="font-weight: bold">공지사항</p>
														<ul>
															<li style="font-weight: bold">프런트 내 손소독제 구비 완료 / 방역
																실시</li>
														</ul>
														<br>
														<p style="font-weight: bold">기본정보</p>
														<ul>
															<li>입실 : 15:00 | 퇴실 : 11:00</li>
															<li>22시 이후 입실 시 사전문의 (필수)</li>
															<li>무료 Wi-Fi</li>
															<li>주차가능</li>
														</ul>
														<br>
														<p style="font-weight: bold">애견 입실 안내</p>
														<ul>
															<li style="font-weight: bold">애견동반을 원할 경우 사전 문의 및 상담
																필수</li>
															<li>1마리 40,000원 (5kg 미만)</li>
															<li>최대 2마리 동반입실 가능</li>
															<li style="font-weight: bold">현장결제</li>
														</ul>
														<br>
														<p style="font-weight: bold">취소 및 환불 규정</p>
														<ul>
															<li>숙박일 기준 30일전 : 100% 환불</li>
															<li>숙박일 기준 29~14일전 : 90% 환불</li>
															<li>숙박일 기준 13~6일전 : 70% 환불</li>
															<li>숙박일 기준 5일전 : 50% 환불</li>
															<li>숙박일 기준 4일전 : 20% 환불</li>
															<li>숙박일 기준 3~1일전 : 10% 환불</li>
															<li>숙박일 당일 및 No-show : 환불불가</li>
															<li>취소, 환불 시 수수료가 발생할 수 있습니다</li>
														</ul>
														<br>
														<p style="font-weight: bold">코로나 사회적 거리두기 공지</p>
														<ul>
															<li style="font-weight: bold">코로나로 인해 정부지침이 계속해서 변동될
																수 있으며, 그로 인한 취소 및 환불 변경 등은 펜션 규정에 따라 처리될 수 있음을 알려드립니다.</li>
														</ul>

													</div>
												</div>
								
								<!-- 리뷰 -->
								<div class="tab-pane fade" id="reviews" role="tabpanel">
									<div class="reviews_wrapper">
										<h2>[[${#lists.size(rEviewSelectList)}]]개의 리뷰가 있습니다.</h2>
										
										<!-- 말풍선 모양 div -->
										<div class="reviews_comment_box" th:each="re:${rEviewSelectList}">
											<div class="comment_thmb">
												<img src="assets/img/blog/comment2.jpg" alt="">
											</div>
											<div class="comment_text">
												<div class="reviews_meta">
													<p>
														<strong th:switch="${re.star}">
															<i class="reviewstar" th:case="5">★★★★★</i>
															<i class="reviewstar" th:case="4">★★★★☆</i>
															<i class="reviewstar" th:case="3">★★★☆☆</i>
															<i class="reviewstar" th:case="2">★★☆☆☆</i>
															<i class="reviewstar" th:case="1">★☆☆☆☆</i>
															<i class="reviewstar" th:case="0">☆☆☆☆☆</i>
														</strong><br>
														
														<strong>[[${re.nickname}]]</strong> 
														<a>  [[${re.dt}]]</a>
													</p>
													<span>[[${re.content}]]</span>
												</div>
											</div>
										</div>
										<!-- 말풍선 모양 div -->
										
										<!-- ajax로 댓글 달리는 부분 -->
										<div class="reviews_comment_box" id="ajaxReviewDiv"></div>
										
										
										<div class="product_review_form">	
												<div class="product_ratting mb-10">
													<h2 class="star-txt">별점을 선택해주세요</h2>
													<div class="star-point">
														<i class="fa-star">★</i> <i class="fa-star">★</i> <i
															class="fa-star">★</i> <i class="fa-star">★</i> <i
															class="fa-star">★</i>
													</div>
													
													<!-- 별점 숫자 -->
													<input type="hidden" id="star" name="star" value="0" />
		
												</div>
											
												<div class="row">
													<div class="comment_title col-12">
														<h2>숙소후기를 작성해주세요</h2>
														<!-- 말풍선 모양 div -->
														<div class="reviews_comment_box">
															<div class="comment_thmb">
																<img src="assets/img/blog/comment2.jpg" alt="">
															</div>
															<div class="comment_text">
																<div class="reviews_meta">
																	<p>
																		<strong th:value="${session.user.nickname}"></strong> 
																	</p>
																	<span>
																		<textarea id="reviewcontent" name="content" rows="8" cols="8" style="border:none;"></textarea>
																	</span>
																</div>
															</div>
															<button id="reviewbtn" type="button">작성하기</button>
														</div>
														<!-- 말풍선 모양 div -->
													</div>
												</div>
										    </div>
									    </div>
								   </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--product info end-->
					</div>
				</div>
				<br> <br> <br>
				<div id="btn">
					<button type="button" class="btn btn-dark"
						onclick="location.href='accomoList'">목록가기</button>
				</div>
			</div>
		</div>
		
		
		<script>
		
		/*-----------------------
		//댓글 작성
		-------------------------*/				
		$('#reviewbtn').on("click", function() {
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
			
				var title = "숙소 후기";
				var content = $("#reviewcontent").val();
				var star = $("#star").val();
				var boardNo = $("#accomoNo").val();
				var categoryId = "a";
				var groupNo = 1;
				var userNo = $("#userNo").val();

			 	$.ajax({
						url : "accomoReviewInsert",
						type:'post',
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token)
						},
						data : {
								title:title,
								content:content,
								star:star,
								boardNo: boardNo,
								categoryId:categoryId,
								groupNo:groupNo,
								userNo:userNo
								},
						success : function(result){
							$("#ajaxReviewDiv").append(
								`<div class="comment_thmb">
											<img src="assets/img/blog/comment2.jpg" alt="">
								</div>
								<div class="comment_text">
											<div class="reviews_meta">
												<p>
													<strong id="starbox">
													</strong><br>
													
													<strong>${result.nickname}</strong> 
													<a> ${result.dt}</a>
												</p>
												<span>${result.content}</span>
											</div>
										</div>
								</div>`
							);
							
							var rank = `${result.star}`
							console.log(rank)
							
							if(rank == 5) {
								$("#starbox").append(`<i class="reviewstar">★★★★★</i>`);
							} else if(rank ==4) {
								$("#starbox").append(`<i class="reviewstar">★★★★☆</i>`);
							} else if(rank ==3) {
								$("#starbox").append(`<i class="reviewstar">★★★☆☆</i>`);
							} else if(rank ==2) {
								$("#starbox").append(`<i class="reviewstar">★★☆☆☆</i>`);
							} else if(rank ==1) {
								$("#starbox").append(`<i class="reviewstar">★☆☆☆☆</i>`);
							} else if(rank ==0) {
								$("#starbox").append(`<i class="reviewstar">☆☆☆☆☆</i>`);
							}

							alert("리뷰가 성공적으로 작성되었습니다.")
						
						},
						error : function(result){
							alert("리뷰를 작성하는데 실패했습니다.")
						}
				}); 
			 	
		})
		
		
		</script>

	</article>


</body>
</html>