<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.notice.mapper.NoticeMapper">
	<!-- 알림 조회 -->
	<select id="noticeSelectList"
		resultType="com.team.prj.notice.service.NoticeVO">
		SELECT n.notice_no, n.content, n.gen_time, n.read_time, n.url, u.nickname, u.attach, u.user_no
		FROM notice n, users u
		WHERE n.user_no = u.user_no 
        AND u.user_no = #{userNo}
		ORDER BY n.notice_no DESC
	</select>

	<!-- 알림 등록 -->
	<insert id="noticeInsert"
		parameterType="com.team.prj.notice.service.NoticeVO">
		<selectKey keyProperty="noticeNo" order="BEFORE"
			resultType="int">
			SELECT
			CASE WHEN max(notice_no) IS NULL
			THEN 1
			ELSE
			max(notice_no) + 1
			END AS no
			FROM notice
		</selectKey>
		INSERT INTO NOTICE
		VALUES (#{noticeNo},
		#{userNo},
		#{content},
		SYSDATE,
		null,
		#{url},
		#{type},
		#{refNo})
	</insert>

	<!-- 알림 상태 업데이트 -->
	<update id="noticeUpdate"
		parameterType="com.team.prj.notice.service.NoticeVO">
		UPDATE NOTICE
		SET read_time = SYSDATE
		WHERE notice_no = #{noticeNo}
	</update>
	
	<!-- 알림 카운트 -->
	<select id="noticeCount" resultType="int">
		SELECT count(*)
		FROM notice
		WHERE user_no = #{userNo}
	</select>
</mapper>