<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.notice.mapper.NoticeMapper">
	<!-- 알림 전체 조회 -->
	<select id="noticeSelectList"
		resultType="com.team.prj.notice.service.NoticeVO">
		SELECT *
		FROM notice
		WHERE user_no = #{userNo}
		ORDER BY
		notice_no DESC
	</select>

	<!-- 알림 단건 조회 -->
	<select id="noticeSelect"
		resultType="com.team.prj.notice.service.NoticeVO"
		parameterType="com.team.prj.notice.service.NoticeVO">
		SELECT *
		FROM notice
		WHERE notice_no = #{noticeNo}
		AND
		user_no = #{userNo}
	</select>

	<!-- 알림 등록 -->
	<insert id="noticeInsert"
		parameterType="com.team.prj.notice.service.NoticeVO">
		<selectKey keyProperty="noticeNo" order="BEFORE"
			resultType="int">
			SELECT
			CASE WHEN max(notice_no) IS NULL
			THEN 1
			ELSE
			max(notice_no) + 1
			END AS no
			FROM notice
		</selectKey>
		INSERT INTO NOTICE
		VALUES (#{noticeNo},
		#{userNo},
		#{content},
		SYSDATE,
		#{readTime},
		#{url},
		#{type},
		#{refNo})
	</insert>

	<!-- 알림 수정 -->
	<update id="noticeUpdate"
		parameterType="com.team.prj.notice.service.NoticeVO">
		UPDATE NOTICE
		<set>
			<if test="content != null">content = #{content},</if>
			<if test="readTime != null">read_time = #{readTime},</if>
			<if test="url != null">url = #{url},</if>
			<if test="type != null">type = #{type},</if>
			<if test="content != null">content = #{content}</if>
		</set>
		WHERE notice_no = #{noticeNo}
	</update>
	
	<!-- 알림 삭제 -->
	<delete id="noticeDelete">
		DELETE
		FROM notice
		WHERE notice_no = #{noticeNo}
	</delete>
</mapper>