<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<body>
	<article layout:fragment="content">
		<!--shop  area start-->
		<div class="shop_section shop_reverse">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">

						<!--breadcrumbs area start-->
						<div class="breadcrumb_content" style="margin: 50px;">
							<ul>
								<li><a href="index.html">home</a></li>
								<li>Petinfo</li>
								<li>hospital</li>
							</ul>
						</div>
						<!--breadcrumbs area end-->

						<div class="shop_banner d-flex align-items-center"
							data-bgimg="assets/img/bg/pexels-photo-59523.jpeg">
							<div class="shop_banner_text">
								<h2>
									essential <br> for my pets
								</h2>
								<p>
									The collections basic items <br> essential for all pets
								</p>
							</div>
						</div>
						<!--shop  area start-->
						<h1>테스트입니다</h1>
						<table border="1" id="myTable" Class="table">
							<thead class="table-dark">
								<tr>
									<th>번호</th>
									<th>병원 명</th>
									<th>주소</th>
									<th>진료시간</th>
									<th>전화번호</th>
									<th>조회수</th>

								</tr>
							</thead>
							<tbody>

								<tr th:each="h : ${hospital}">
									<td><a th:href="@{hospital(hospitalNo=${h.hospitalNo})}"
										th:text="${h.hospitalNo}"></a></td>
									<td><a th:href="@{hospital(hospitalNo=${h.hospitalNo})}"
										th:text="${h.name}"></a></td>
									<td th:text="${h.address}"></td>
									<td th:text="${h.workingHour}"></td>
									<td th:text="${h.call}"></td>
									<td th:text="${h.hit}"></td>

								</tr>
							</tbody>
						</table>

                        <table id="photo">
                            <tr th:each="h:${hospital}">
                            <td>
                           <!--  <a th:href="${h.hphoto}"> --><img th:src="${h.hphoto}" alt="tab-thumb" style="width: 1500px; height: 400px;">
                            </td>
                            </tr>
                    </table>

					</div>
				</div>
			</div>
		</div>

	</article>

</body>
</html>