<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="admin/assets/js/config.js"></script>
</head>
<body>
	<article layout:fragment="content">

		<!--shop  area start-->
		<br> <br> <br>
		<div class="shop_section shop_reverse">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12">
						<!--sidebar widget start-->
						<aside class="sidebar_widget">
							<div class="widget_inner">
								<div class="widget_list widget_categories">
									<ul>
										<li class="widget_sub_categories"><a href="usersSelect"
											data-toggle="collapse" data-target="#men">내 정보</a></li>
										<hr>
										<li class="widget_sub_categories"><a href="petSelectList"
											data-toggle="collapse" data-target="#women">내 반려동물 정보</a></li>
										<hr>
										<li class="widget_sub_categories"><a
											data-toggle="collapse" data-target="#footwear">내 활동</a>
											<ul class="widget_dropdown_categories collapse show"
												id="footwear">
												<li><a href="#">작성 글 보기</a></li>
												<li><a href="#">작성 댓글 보기</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories"><a
											data-toggle="collapse" data-target="#accessories">내 스크랩</a>
											<ul class="widget_dropdown_categories collapse show"
												id="accessories">
												<li><a href="#">병원</a></li>
												<li><a href="#">장례</a></li>
												<li><a href="#">숙박</a></li>
												<li><a href="#">커뮤니티</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories"><a
											data-toggle="collapse" data-target="#footwear">내 쇼핑</a>
											<ul class="widget_dropdown_categories collapse show"
												id="footwear">
												<li><a href="#">주문내역</a></li>
												<li><a href="#">교환 및 반품</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories"><a
											data-toggle="collapse" data-target="#footwear">내 클래스</a>
											<ul class="widget_dropdown_categories collapse show"
												id="footwear">
												<li><a href="#">수강내역</a></li>
												<li><a href="#">위시리스트</a></li>
											</ul></li>
										<hr>
										<li class="widget_sub_categories"><a
											href="calendarSelectList" data-toggle="collapse"
											data-target="#women">일정관리</a></li>
									</ul>
								</div>
							</div>
						</aside>
						<!--sidebar widget end-->
					</div>


					<div class="col-lg-9 col-md-12">
						<!--shop wrapper start-->
						<!-- Content wrapper -->
						<div class="content-wrapper">
							<!-- Content -->
							<div class="container-xxl flex-grow-1 container-p-y">
								<!--breadcrumbs area start-->
								<div class="breadcrumb_content">
									<ul>
										<li><a href="/">home</a></li>
										<li>my page</li>
										<li>작성글</li>
									</ul>
								</div>
								<!--breadcrumbs area end-->

								<div class="shipping_text">
									<h3>내 작성글보기</h3>
								</div>
								<br>

								<!-- Hoverable Table rows -->
								<div class="card">
									<h5 class="card-header" style="font-weight: bold;">게시글 수 [[${#lists.size(boardList)}]]</h5>
									<div class="table-responsive text-nowrap">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>카테고리</th>
													<th>제목</th>
													<th>작성일</th>
													<th>좋아요</th>
													<th>조회수</th>
												</tr>
											</thead>
											<tbody class="table-border-bottom-0">
												<tr>
													<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
														<strong>Angular Project</strong></td>
													<td>Albert Cook</td>
													<td><span class="badge bg-label-primary me-1">Active</span></td>
													<td>
														<div class="dropdown">
															<button type="button"
																class="btn p-0 dropdown-toggle hide-arrow"
																data-bs-toggle="dropdown">
																<i class="bx bx-dots-vertical-rounded"></i>
															</button>
															<div class="dropdown-menu">
																<a class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-edit-alt me-1"></i> Edit</a> <a
																	class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-trash me-1"></i> Delete</a>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td><i class="fab fa-react fa-lg text-info me-3"></i>
														<strong>React Project</strong></td>
													<td>Barry Hunter</td>
													<td><span class="badge bg-label-success me-1">Completed</span></td>
													<td>
														<div class="dropdown">
															<button type="button"
																class="btn p-0 dropdown-toggle hide-arrow"
																data-bs-toggle="dropdown">
																<i class="bx bx-dots-vertical-rounded"></i>
															</button>
															<div class="dropdown-menu">
																<a class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-edit-alt me-1"></i> Edit</a> <a
																	class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-trash me-1"></i> Delete</a>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td><i class="fab fa-vuejs fa-lg text-success me-3"></i>
														<strong>VueJs Project</strong></td>
													<td>Trevor Baker</td>
													<td><span class="badge bg-label-info me-1">Scheduled</span></td>
													<td>
														<div class="dropdown">
															<button type="button"
																class="btn p-0 dropdown-toggle hide-arrow"
																data-bs-toggle="dropdown">
																<i class="bx bx-dots-vertical-rounded"></i>
															</button>
															<div class="dropdown-menu">
																<a class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-edit-alt me-1"></i> Edit</a> <a
																	class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-trash me-1"></i> Delete</a>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td><i
														class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Bootstrap
															Project</strong></td>
													<td>Jerry Milton</td>
													<td><span class="badge bg-label-warning me-1">Pending</span></td>
													<td>
														<div class="dropdown">
															<button type="button"
																class="btn p-0 dropdown-toggle hide-arrow"
																data-bs-toggle="dropdown">
																<i class="bx bx-dots-vertical-rounded"></i>
															</button>
															<div class="dropdown-menu">
																<a class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-edit-alt me-1"></i> Edit</a> <a
																	class="dropdown-item" href="javascript:void(0);"><i
																	class="bx bx-trash me-1"></i> Delete</a>
															</div>
														</div>
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
								<!--/ Hoverable Table rows -->
							</div>
							<!-- / Content -->

							<div class="content-backdrop fade"></div>
						</div>
						<!-- Content wrapper -->


						<!--shop wrapper end-->
					</div>
				</div>
			</div>
		</div>
		<!--shop  area end-->
	</article>
</body>
</html>