<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_mypage}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
   th:content="${_csrf.headerName}" />
<title>Together Pet</title>
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

<!-- Helpers -->
<script src="/admin/assets/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="/admin/assets/js/config.js"></script>

</head>
<body>
	<div class="col-lg-10 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my page</li>
						<li>Wish List</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<div class="shipping_text">
					<h3>위시리스트</h3>
					<h4 id="wishListEmpty" style="display: none">[[${#lists.size(pageInfo.list)}]]</h4>
				</div>
				<br>

				<div class="row shop_wrapper" id="wish">
					<!-- wishlist start -->
					<div class="col-lg-3 col-md-3 closest" th:each="list : ${pageInfo.list}"
						th:id="${list.scrapNo}">
						<div class="single_product">
							<div class="product_thumb">
								<a th:href="@{classSelect(classNo=${list.classNo})}">
									<img th:src="@{displays(fileName=${list.thumb})}" id="thumb_img">
								</a>
								<div class="product_label">
									<span>[[${list.category}]]</span>
								</div>
								<div class="cart_product_remove text-right remove">
									<a class="removeWish"><i class="ion-android-close"></i></a>
								</div>
							</div>
						</div>
						<div>
							<h4>
								<a th:href="@{classSelect(classNo=${list.classNo})}">
									<span>[[${list.name}]]</span>
								</a>
							</h4>
							<hr>
						</div>
						<div align="right">
							<h4 class="product_name">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
											  <path
										d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
											  <path
										d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" /></svg>
								<a>[[${list.address}]]</a>
							</h4>
							<div class="blog_meta" align="right">
								<h4 class="product_name">[[${list.price}]]원</h4>
							</div>
						</div>
					</div>
					<!-- wishlist -->

				</div>
			</div>
			<!-- / Content -->

			<!-- 페이지네이션 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li
						th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}" id="pageColor"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
							}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav>
			<!-- 페이지네이션 -->
		</div>
		<!-- Content wrapper -->
<style>
	.product_label span {
		width: 80px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		display: inline-block;
		font-weight: 600;
		color: #ffffff;
		background: #ff2f2f;
	}
	#pageColor {
		background-color: #6a7964;
		border-color: #6a7964;
		color:white;
	}
	.page-link {
		color:black;
	}
</style>
<script>
	//페이지 이동
	function gopage(p) {
		location.href = '/usersWishList?pageNum=' + p;
	}
	
	// 위시리스트 없을때
    if($('#wishListEmpty').html()=='0'){
    	$('#wish').html("<div align=center><h3> <br>위시리스트에 담긴 클래스가 없습니다.</h3><br><a class='btn btn-primary me-2 mb-2' href='/classList'>클래스 보러가기</a><div><br>");
    }
	
	// 위시리스트 삭제
	$(".remove").on("click", ".removeWish", function () {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		let scrapNo = $(this).closest('.closest').attr('id');
		
		if (!confirm("삭제하시겠습니까?")) {
			return;
		}
		
		$.ajax({
			url:'ajaxLikeDelete',
			type:'post',
			beforeSend : function(xhr){
				xhr.setRequestHeader(header, token)},
			data:{
				scrapNo : scrapNo
			}
		})
		.done(res => {
			alert(res);
			document.getElementById(scrapNo).remove();
		})
	})
</script>

		<!--shop wrapper end-->
	</div>
	<!--shop  area end-->
</body>
</html>