<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_mypage}">
<head>
<meta charset="UTF-8">
<title>Together Pet</title>
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

<!-- Helpers -->
<script src="/admin/assets/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="/admin/assets/js/config.js"></script>
<script>
	//페이지 이동
	function gopage(p) {
		location.href = '/usersCommentList?pageNum=' + p;
	}
</script>
</head>
<body>
	<div class="col-lg-10 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my page</li>
						<li>작성댓글</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<div class="shipping_text">
					<h3>내 작성댓글보기</h3>
				</div>
				<br>

				<!-- Hoverable Table rows -->
				<div class="card">
					<h5 class="card-header" style="font-weight: bold;">댓글 수
						[[${#lists.size(pageInfo.list)}]]</h5>
					<div class="table-responsive text-nowrap">
						<table class="table table-hover">
							<thead>
								<tr style="text-align: center;">
									<th>NO</th>
									<th>내용</th>
									<th>작성일</th>
									<th></th>
								</tr>
							</thead>
							<tbody class="table-border-bottom-0">
								<tr th:each="list : ${pageInfo.list}" style="text-align: center;">
									<td style="width: 100px; border-right: 1px solid lightgray;">[[${list.commentNo}]]</td>
									<td><i class="fab fa-angular fa-lg text-danger me-3"></i>
										<strong>[[${list.content}]]</strong></td>
									<td>[[${#dates.format(list.dt, 'yyyy-MM-dd')}]]</td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown"></button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);"> <i
													class="bx bx-edit-alt me-1"></i> 수정
												</a> <a class="dropdown-item" href="javascript:void(0);"> <i
													class="bx bx-trash me-1"></i> 삭제
												</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--/ Hoverable Table rows -->
			</div><br>
			<!-- / Content -->

			<!-- 페이지네이션 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li
						th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
							}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav>
			<!-- 페이지네이션 -->

			<div class="content-backdrop fade"></div>
		</div>
		<!-- Content wrapper -->


		<!--shop wrapper end-->
	</div>
	<!--shop  area end-->
</body>
</html>