<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.tutor.mapper.TutorMapper">
	
	<!-- 0930 order by 추가 / 지혜 -->
	<select id="tutorSelectList"
		resultType="com.team.prj.tutor.service.TutorVO">
		select * 
		from tutor
		order by tutor_no desc
	</select>

	<select id="tutorSelect"
		resultType="com.team.prj.tutor.service.TutorVO"
		parameterType="com.team.prj.tutor.service.TutorVO">
		select *
		from tutor
		where tutor_no = #{tutorNo}
	</select>
	
	
	<update id="tutorUpdate">
		update tutor
		set password = #{password}
			,company = #{company}
			,email = #{email}
			,call = #{call}
			,address = #{address}
			,dt = #{dt}
	</update>
	
	<delete id="tutorDelete">
		delete from tutor
		where tutor_no = #{tutorNo}
	</delete>
	
	
	<!-- 튜터회원 검색 / 1005 지혜 추가 -->
	<select id="tutorSearch" resultType="com.team.prj.tutor.service.TutorVO">
		select *
		from tutor
		where
		<choose>  
			<when test="key==1"> id like '%' || #{val}||'%'</when>
			<when test="key==2"> name like '%' || #{val}||'%'</when>
			<when test="key==3"> company like '%' || #{val}||'%'</when>
		</choose>
	</select>
</mapper>