<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.join.mapper.JoinMapper">

		<!-- 일반회원 등록 -->
		<insert id="usersInsert" parameterType="com.team.prj.users.service.UsersVO">
		<selectKey keyProperty="userNo" order="BEFORE" resultType="int">
			SELECT
			CASE WHEN max(user_no) IS NULL
			THEN 1
			ELSE max(user_no) + 1
			END AS no
			FROM users
		</selectKey>

		INSERT INTO USERS (user_no, id, password, name, nickname, email, call, address, author, money, group_no, dt, state, postcode, da)
		VALUES(#{userNo}
		,#{id, jdbcType=VARCHAR}
		,#{password, jdbcType=VARCHAR}
		,#{name, jdbcType=VARCHAR}
		,#{nickname, jdbcType=VARCHAR}
		,#{email, jdbcType=VARCHAR}
		,#{call, jdbcType=VARCHAR}
		,#{address, jdbcType=VARCHAR}
		,'USER'
		,3000
		,1
		,SYSDATE
		,'활동중'
		,#{postcode, jdbcType=VARCHAR}
		,#{da, jdbcType=VARCHAR}
		)
		</insert> 

	

	<!-- 일반 회원 아이디 중복체크 -->
	<select id="idCheck" resultType="int" parameterType="com.team.prj.users.service.UsersVO">
		select count(id)
		from login
		where id = #{id}
	</select>
	
		
	<!-- 닉네임 중복체크 -->
	<select id="nickCheck" resultType="int" parameterType="com.team.prj.users.service.UsersVO">
		select count(*)
		from users
		where nickname = #{nickname}
	</select>
	
	
	<!-- 튜터 회원 아이디 중복체크 -->
	<select id="tCheck" resultType="int" parameterType="com.team.prj.tutor.service.TutorVO">
		select count(id)
		from login
		where id = #{id}
	</select>


	<!-- 판매자 회원 아이디 중복체크 -->
	<select id="sCheck" resultType="int" parameterType="com.team.prj.seller.service.SellerVO">
		select count(id)
		from login
		where id = #{id}
	</select>


</mapper>