<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_mypage}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<link href='/fullcalendar/main.css' rel='stylesheet' />
<script src='/fullcalendar/main.js'></script>
<script src='/fullcalendar/locales/ko.js'></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>My page</title>

</head>

<body>
	<div class="col-lg-9 col-md-12" layout:fragment="content">
		<script>
			let calendar = null;
			let Alldata = {};
			$(function() {

				let calendarEl = $('#calendar')[0];
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");

				calendar = new FullCalendar.Calendar(
						calendarEl,
							{expandRows : true, // 화면에 맞게 높이 재설정
							slotMinTime : '08:00', // Day 캘린더에서 시작 시간
							slotMaxTime : '20:00', // Day 캘린더에서 종료 시간

							headerToolbar : {
								left : 'prevYear,prev,next,nextYear today',
								center : 'title',
								right : 'dayGridMonth,timeGridWeek,timeGridDay'
							},

							initialView : 'dayGridMonth',
							editable : true,
							selectable : true, // 달력 일자 드래그 설정가능
							nowIndicator : true, // 현재 시간 마크
							dayMaxEvents : true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
							locale : 'ko', // 한국어 설정

							eventAdd : function(obj) { // 이벤트가 추가되면 발생하는 이벤트

								sDate = obj.event._instance.range["start"]
										.getFullYear()
										+ '-'
										+ (obj.event._instance.range["start"]
												.getMonth() + 1)
										+ '-'
										+ obj.event._instance.range["start"]
												.getDate();

								eDate = obj.event._instance.range["end"]
										.getFullYear()
										+ '-'
										+ (obj.event._instance.range["end"]
												.getMonth() + 1)
										+ '-'
										+ (obj.event._instance.range["end"]
												.getDate() - 1);

								Alldata = {
									"start" : sDate,
									"end" : eDate,
									"title" : obj.event._def["title"],
									"allday" : obj.event._def["allDay"],
									"defId" : obj.event._instance["defId"],
									"instanceId" : obj.event._instance["instanceId"]
								};

								let allEvent = calendar.getEvents();
								console.log(allEvent);

								let jsondata = JSON.stringify(Alldata);
								console.log("jsondata : " + jsondata);

							},
							eventChange : function(obj) { // 이벤트가 수정되면 발생하는 이벤트
								console.log(obj);

							},
							eventRemove : function(obj) { // 이벤트가 삭제되면 발생하는 이벤트
								console.log(obj);

							},
							eventClick : function(obj) {
								console.log(obj);

							},
							select : function(arg) { // 캘린더에서 이벤트를 생성
								let title = prompt('일정 내용을 입력하세요 :');
								if (title) {
									calendar.addEvent({
										title : title,
										start : arg.start,
										end : arg.end,
										allDay : arg.allDay
									})
								}
								calendar.unselect()
							},
						});
				// 캘린더 랜더링
				calendar.render();

			});
		</script>
		
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>My Page</li>
						<li>my calendar</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<!-- 캘린더 시작 -->
				<div id='calendar-container'>
					<div id='calendar'></div>
				</div>
				<!-- 캘린더 종료 -->

				<div class="content-backdrop fade"></div>
			</div>
			<!-- Content wrapper -->


			<!--shop wrapper end-->
		</div>
	</div>
	<!--shop  area end-->
	
</body>

</html>