<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.board.mapper.BoardMapper">

	<select id="boardSelectList"
		resultType="com.team.prj.board.service.BoardVO">
		select * from board
		order by board_no DESC
	</select>


	<select id="boardSelect"
		resultType="com.team.prj.board.service.BoardVO"
		parameterType="com.team.prj.board.service.BoardVO">
		select *
		from board
		where board_no = #{boardNo}
	</select>

	<!-- 그룹별 사진 불러오기  -->
	<select id="boardPhotoList"
	parameterType="com.team.prj.photo.service.PhotoVO">
	select * 
	from photo
	where group_no =#{groupNo}
	and name='리스트'
	
	</select>
	<insert id="boardInsert"
		parameterType="com.team.prj.board.service.BoardVO">
		<selectKey keyProperty="boardNo" order="BEFORE"
			resultType="int">
			SELECT
			CASE WHEN max(board_no) IS NULL
			THEN 1
			ELSE max(board_no) + 1
			END AS no
			FROM board
		</selectKey>

		INSERT INTO board
		VALUES(#{boardNo}
		,#{title}
		,#{content}
		,#{dt}
		,0
		,0
		,#{category}
		,100
		,#{userNo}
		,#{nickname}
		,#{attech}
		,#{attechDir})
	</insert>

	<update id="boardUpdate"
		parameterType="com.team.prj.board.service.BoardVO">
		update board
		set title = #{title}
		,content = #{content}
		,dt = #{dt}
		,category = #{category}
		where board_no = #{boardNo}
	</update>

	<delete id="boardDelete">
		delete from board
		where board_no = #{boardNo}
	</delete>
	
	
	
		<update id="boardHitUpdate">
			UPDATE board SET HIT = HIT + 1 WHERE board_no = #{boardNo}
		</update>
	
	
		<select id="boardSearch" resultType="com.team.prj.board.service.BoardVO">
		select *
		from board
		where
		<choose>
		<when test="key == 1"> writer like '%' || #{val}||'%'</when>
		<when test="key == 2"> title like '%' || #{val}||'%'</when>
	    <when test="key == 3"> category like '%' || #{val}||'%'</when>
		</choose>
		</select>
	
	
	
	
	
</mapper>