<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.orders.mapper.OrderMapper">
	<select id="userInfo"
		resultType="com.team.prj.users.service.UsersVO">
		select * from users where user_no=#{userNo}
	</select>

	<select id="selectOrder"
		resultType="com.team.prj.orders.service.OrderVO">
		select *
		from orders
		where order_no=#{orderNo}
	</select>

	<insert id="insertOrder">
		<selectKey keyProperty="orderNo" resultType="int"
			order="BEFORE">
			select case when max(order_no) is null then 1
			else max(order_no)+1 end
			as order_no
			from orders
		</selectKey>
		insert into orders
		values (#{orderNo},
				#{address},
				#{message},
				#{call},
				#{name},
				#{pay},
				#{amount},
				#{totalPrice},
				#{totalPrice}*0.9,
				1,
				null,
				1,
				sysdate,
				#{userNo},
				#{goodsNo},
				0,
				null,
				#{cartNo},
				#{money},
				(select seller_no from goods where goods_no=#{goodsNo}), 
				(select name from goods where goods_no=#{goodsNo}))
	</insert>

	<update id="updateMoney">
		update users set money=(select money from users where user_no=#{userNo})-#{money} where user_no =
		#{userNo}
	</update>
	
	<!-- 주문 및 결제시 상품 재고 업데이트 -->
	<update id="updateGoodsQty">
		update goods set amount=(select amount from goods where goods_no=#{goodsNo})-#{amount} where goods_no=#{goodsNo}
	</update>
	
</mapper>