<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.pet.mapper.PetMapper">
	<select id="petSelectList"
		resultType="com.team.prj.pet.service.PetVO">
		SELECT * FROM PET
	</select>

	<select id="petSelect"
		parameterType="com.team.prj.pet.service.PetVO"
		resultType="com.team.prj.pet.service.PetVO">
		SELECT *
		from pet p, users u
		where p.user_no = u.user_no
        and u.user_no = #{userNo}
	</select>

	<insert id="petInsert"
		parameterType="com.team.prj.pet.service.PetVO">
		<selectKey keyProperty="petNo" order="BEFORE"
			resultType="int">
			SELECT
			CASE WHEN max(pet_no) IS NULL
			THEN 1
			ELSE max(pet_no) + 1
			END AS no
			FROM pet
		</selectKey>

		INSERT INTO PET
		VALUES(#{petNo, jdbcType=INTEGER},
				#{type},
				#{name},
				#{breed},
				#{weight},
				#{gender},
				#{birth},
				#{neu},
				1,
				1)
	</insert>

	<update id="petUpdate"
		parameterType="com.team.prj.pet.service.PetVO">
		update pet
			   set type = #{type}, name = #{name}, breed = #{breed},
			   	   weight = #{weight}, gender = #{gender}, birth = #{birth}, neu = #{neu}
			   WHERE pet_no = #{petNo}	   
	</update>
	
	<delete id="petDelete">
		DELETE FROM PET WHERE pet_no = #{petNo}
	</delete>

</mapper>