<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_seller}">
<head>
<meta charset="UTF-8">
<title>My page</title>
<style>
.shipping_text h3 {
	margin-bottom: 7px;
	font-size: 23px;
	line-height: 18px;
}
</style>

<script type="text/javascript">
	
</script>
</head>
<body>
	<div class="col-lg-10 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my page</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<div class="shipping_text">
					<h3>판매자 정보</h3>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<div class="card mb-4">
							<h5 class="card-header">Profile Details</h5>
							<!-- Account -->
							<div class="card-body">
								<div
									class="d-flex align-items-start align-items-sm-center gap-4">
									<img src="/admin/assets/img/avatars/1.png" alt="user-avatar"
										class="d-block rounded" height="100" width="100"
										id="uploadedAvatar" />
									<div class="button-wrapper">
										<label for="upload" class="btn btn-primary me-2 mb-4"
											tabindex="0"> <span class="d-none d-sm-block">Upload
												new photo</span> <i class="bx bx-upload d-block d-sm-none"></i> <input
											type="file" id="upload" class="account-file-input" hidden
											accept="image/png, image/jpeg, image/jpg" />
										</label>
										<button type="button"
											class="btn btn-primary2 account-image-reset mb-4">
											<i class="bx bx-reset d-block d-sm-none"></i> <span
												class="d-none d-sm-block">Reset</span>
										</button>

										<p class="text-muted mb-0">Allowed JPG or PNG.</p>
									</div>
								</div>
							</div>
							<hr class="my-0" />

							<div class="card-body" th:each="list : ${sellerList}">
								<form name="fr" id="formAccountSettings" method="POST"
									onsubmit="return check()">
									<div class="row">
										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="companyNo">사업자번호</label>
											<input class="form-control" type="text" id="companyNo"
												name="companyNo" placeholder="Email"
												th:value="${list.companyNo}" disabled="disabled" />
										</div>
										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="company">상호</label>
											<input class="form-control" type="text" id="company"
												name="company" th:value="${list.company}"
												disabled="disabled" />
										</div>
										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="name">이름</label>
											<input class="form-control" type="text" id="name" name="name"
												th:value="${list.name}" disabled="disabled" />
										</div>
										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="name">아이디</label>
											<input class="form-control" type="text" id="id" name="id"
												th:value="${list.id}" disabled="disabled" />
										</div>
										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="name">전화번호</label>
											<input class="form-control" type="text" id="call" name="call"
												th:value="${list.call}" disabled="disabled" />
										</div>
										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="name">주소</label>
											<input type="text" class="form-control" id="address"
												name="address" placeholder="Address"
												th:value="${list.address}" disabled="disabled" />
										</div>
										<div class="row mb-3">
											<label class="col-sm-2 col-form-label" for="name">이메일</label>
											<input class="form-control" type="text" id="email"
												name="email" th:value="${list.email}" disabled="disabled" />
										</div>
									</div>
									<div class="mt-2" style="text-align: center;">
										<button type="button" class="btn btn-primary me-2"
											onclick="location.href='/seller/sellerComUpForm'">프로필 수정</button>
									</div>
								</form>
							</div>
							<!-- /Account -->
						</div>
						<div class="card">
							<h5 class="card-header">Delete Account</h5>
							<div class="card-body">
								<div class="mb-3 col-12 mb-0">
									<div class="alert alert-warning">
										<h6 class="alert-heading fw-bold mb-1">Are you sure you
											want to delete your account?</h6>
										<p class="mb-0">Once you delete your account, there is no
											going back. Please be certain.</p>
									</div>
								</div>
								<form id="formAccountDeactivation" onsubmit="return false">
									<div class="form-check mb-3">
										<input class="form-check-input" type="checkbox"
											name="accountActivation" id="accountActivation" /> <label
											class="form-check-label" for="accountActivation"> I
											confirm my account deactivation </label>
									</div>
									<button type="submit" class="btn btn-danger deactivate-account">계정
										비활성화</button>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- / Content -->

			<div class="content-backdrop fade"></div>
		</div>
		<!-- Content wrapper -->


		<!--shop wrapper end-->
	</div>
	<!--shop  area end-->
</body>
</html>