<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_seller}">
<head>
<meta charset="UTF-8">
<title>Together Pet</title>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

<!-- Helpers -->
<script src="/admin/assets/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="/admin/assets/js/config.js"></script>

<!-- datepicker 한국어로 -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
</head>
<body>
	<div class="col-lg-10 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my page</li>
						<li>정산관리</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->
				<!-- 검색 -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="search-box">
							<input type="radio" id="byMinus" name="searchBy" value="1">
							&nbsp;&nbsp;&nbsp;<label class="col-md-2 col-form-label"
								for="byMinus">정산일자로 검색</label> <input type="date" id="start"
								value="" class="form-control" style="width: 250px" />&nbsp;&nbsp;&nbsp;
							<label>~</label>&nbsp;&nbsp;&nbsp; <input type="date" id="end"
								value="" class="form-control" style="width: 250px" /><br>
							<br> <input type="radio" id="byOrder" name="searchBy"
								value="2">&nbsp;&nbsp;&nbsp; <label
								class="col-md-2 col-form-label" for="byOrder">거래일자로 검색</label> <input
								type="date" id="startByOrder" value="" class="form-control"
								style="width: 250px" /> &nbsp;&nbsp;&nbsp;<label>~</label>&nbsp;&nbsp;&nbsp;
							<input type="date" id="endByOrder" value="" class="form-control"
								style="width: 250px" /> <br> <br>
							<div id="orderby">
								<input type="checkbox" id="minusN" name="key" value="3">&nbsp;&nbsp;&nbsp;&nbsp;<label
									for="minusN">정산 대기 건만 보기</label>
							</div>
							<div class="mt-2" style="text-align: center;">
								<a id="searchBtn" class="btn btn-primary me-2">검색하기</a>
								<button id="resetBtn" type="button"
									class="btn btn-primary2 me-2">초기화</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 매출액 -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="search-box">
							<div class="section_title mb-60">
								<h2>매출액 합계</h2>
								<p>정산은 구매자가 구매를 확정한 다음날 오전 11시에 이루어집니다.</p>
							</div>
							<div class="slider_text" align=right>
								<p>
									기간 : <span id="period">전체</span>
								</p>
								<h1 id="minusPSum"></h1>
							</div>
						</div>
					</div>
				</div>



				<!-- Hoverable Table rows -->
				<div class="card">
					<h4 class="card-header" style="font-weight: bold; font-size: 17px"
						id="tableSize"></h4>
					<div class="table-responsive text-nowrap" style="padding: 20px">
						<div id="subHtml"></div>
						<div th:if="${pageNum}" id="pageNum" th:text="${pageNum}"
							style="display: none"></div>
					</div>
				</div>
				<!--/ Hoverable Table rows -->
			</div>
			<br>
			<!-- / Content -->
			<div class="content-backdrop fade"></div>
		</div>
		<!-- Content wrapper -->

		<style>
.search-box .form-control {
	width: 48%;
	display: inline;
}

#search {
	font-weight: bold;
	font-size: 17px;
}
</style>

		<script>
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			let url = "/profitTable?pageNum=" + Number($('#pageNum').html());
			
			// 디폴트
			let key = "2";
			let start = "";
			let end = "";
			let by = ""
			$("#subHtml").load(url);
			getSumSize(key, start, end, by);

			// 검색 버튼 클릭했을 때
			$('#searchBtn').on('click', function() {
				let period = "전체"
				by = $('input[name=searchBy]:checked').val();
				if(by == '1'){
					if($('#start').val() != "" && $('#end').val() != ""){
						start = $('#start').val();
						end = $('#end').val();
						period = start + " ~ " + end
					}else{
						alert('날짜를 선택해 주세요');
						return;
					}
				}else if(by == '2'){
					if($('#startByOrder').val() != "" && $('#endByOrder').val() != ""){
						start = $('#startByOrder').val();
						end = $('#endByOrder').val();
						period = start + " ~ " + end
					}else{
						alert('날짜를 선택해 주세요');
						return;
					}
				}
				
				if($('input[name=key]:checked').val()=='3'){
				key = "3"
				}else{
					key = "2";
				}
				
				$('#period').html(period);
				
				console.log(key, start, end)
				let url = "/profitTable?start=" + start + "&end=" + end + "&key=" + key  + "&by=" + by;
				$("#subHtml").load(url);
				getSumSize(key, start, end, by);

			})
			
			// 초기화
			$('#resetBtn').on('click', function(){
				$('input[name=key]').prop("checked", false);
				let radios = $('input[type=radio]');
				for(r of radios){
					r.checked=false;
				}
				let datebox = $('input[type=date]');
				for(db of datebox){
					db.value='';
				}
				$('#startByOrder').attr('readonly', false)
				$('#endByOrder').attr('readonly', false);
				$('#start').attr('readonly', false)
				$('#end').attr('readonly', false);
			})
			
			// 서치박스 컨트롤 1 (라디오버튼)
			$('input[name=searchBy]').on('change', searchControl);
			function searchControl() {
				console.log('ctrl in')
				let searchBy = $('input[name=searchBy]:checked').val();
				if (searchBy == '1') {
					$('input[name=key]').prop("checked", false);
					$('#startByOrder').val("");
					$('#endByOrder').val("");
					$('#startByOrder').attr('readonly', true)
					$('#endByOrder').attr('readonly', true);
					$('#start').attr('readonly', false)
					$('#end').attr('readonly', false);
				} else {
					$('#startByOrder').attr('readonly', false)
					$('#endByOrder').attr('readonly', false);
					$('#start').attr('readonly', true)
					$('#end').attr('readonly', true);
					$('#start').val("");
					$('#end').val("");
				}
			}
			
			// 서치박스 컨트롤 2 (체크박스)
			$('input[name=key]').on('change', function(){
				if($('input[name=key]:checked').val()=='3'){
					$('#startByOrder').attr('readonly', false)
					$('#endByOrder').attr('readonly', false);
					$('#start').val("");
					$('#end').val("");

					$('#start').attr('readonly', true)
					$('#end').attr('readonly', true);
					var minus = document.getElementById('byMinus');
					minus.checked= false;
				}else{
					$('#start').attr('readonly', false)
					$('#end').attr('readonly', false);
					$('#startByOrder').attr('readonly', false)
					$('#endByOrder').attr('readonly', false);
				}
			});
			
			// 서치박스 컨트롤 3 (데이트박스)
			$('input[type=date]').on('change', function(){
				
				console.log('ctrl if in')
				let id = $(this).closest('input').attr('id')
				if(id == 'start' || id == 'end'){
					document.getElementById('byMinus').checked = true;
					$('#startByOrder').val("");
					$('#endByOrder').val("");
				}else{
					document.getElementById('byOrder').checked = true;
					$('#start').val("");
					$('#end').val("");
				}
			});

			function getSumSize(key, start, end, by) {
				console.log('sum size ctrl in')
				$.ajax({
					url: 'ajaxGetSumSize',
					type: 'post',
					beforeSend : function(xhr){
						xhr.setRequestHeader(header, token)},
					data: {
						key:key, start:start, end:end, by:by
					}
				})
				.done(res => {
					console.log('res', res[0]);
					let sum = res[0].toLocaleString() + "원"
					if(key=="3"){
						sum = "<p>(정산 예정)</p>" + sum
					}else{
						sum = "<p>(정산 완료)</p>" + sum
					}
					$('#minusPSum').html(sum);
					$('#tableSize').html("총 " + res[1].toLocaleString() + "건");
				})
			}
		</script>

		<!--shop wrapper end-->
	</div>
	<!--shop  area end-->
</body>
</html>