<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_seller}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
   th:content="${_csrf.headerName}" />
<title>Together Pet</title>
<style>
.shipping_text h3 {
	margin-bottom: 7px;
	font-size: 23px;
	line-height: 18px;
}

.option .form-control {
	display: inline;
	width: 30%;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
  -moz-padding-start: calc(0.875rem - 3px);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.53;
  color: #697a8d;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.875rem center;
  background-size: 17px 12px;
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
</style>

<!-- Core CSS -->
<link rel="stylesheet" href="/assets/css/core.css"
	class="template-customizer-core-css" />

</head>
<body>
	<div class="col-lg-10 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my page</li>
						<li>판매 상품</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<div class="shipping_text">
					<h3>상품상세보기</h3>
				</div>
				<br>
				
				<div class = "card mb-4">
				<div class="card-body" th:each="list : ${goodsList}">
				<form id="fr" name="fr" action="sellerGoodsUpdate" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<input type="hidden" id="goodsNo" name="goodsNo" th:value="${list.goodsNo}">
						<div class="row">
							<div class="mb-3 col-md-6">
								<label for="type" class="form-label">
								<strong>상품카테고리</strong></label>
								<input type="text" class="form-control" name="category"
									id="changeInput" th:value="${list.category}" readonly="readonly" />
								<select id="defaultSelect" class="" onchange="selectBoxChange(this.value);">
									<option value="0">===선택===</option>
									<option value="FOOD">사료</option>
									<option value="SNACK">간식</option>
									<option value="TOY">장난감</option>
									<option value="LIFE">생활용품</option>
									<option value="PAD">위생/배변</option>
									<option value="HEALTH">건강관리</option>
								</select>
							</div>
							<div class="mb-3 col-md-6">
								<label for="exampleFormControlInput1" class="form-label"><strong>상품명</strong></label>
								<input type="text" class="form-control" name="name"
									id="exampleFormControlInput1" th:value="${list.name}" placeholder="상품명을 입력해주세요."/>
							</div>
							<div class="mb-3 col-md-6">
								<label for="exampleFormControlInput1" class="form-label"><strong>업체명</strong></label>
								<input type="text" class="form-control" name="company"
									id="exampleFormControlInput1" th:value="${session.seller.company}"
									readonly="readonly"/>
							</div>
							<div class="mb-3 col-md-6">
								<label for="exampleFormControlInput1" class="form-label"><strong>재고수량</strong></label>
								<input type="number" class="form-control" name="amount"
									id="exampleFormControlInput1" th:value="${list.amount}" placeholder="재고수량 입력해주세요."/>
							</div>
							<div class="mb-3 col-md-6">
								<label for="exampleFormControlInput1" class="form-label"><strong>판매가(원)</strong></label>
								<input type="number" class="form-control" name="price"
									id="exampleFormControlInput1" th:value="${list.price}" placeholder="판매가를 입력해주세요."/>
							</div>
							<div class="mb-3 col-md-6">
								<label for="exampleFormControlInput1" class="form-label"><strong>할인율</strong></label>
								<input type="number" class="form-control" name="dc" step="0.01"
									id="exampleFormControlInput1" th:value="${list.dc}" placeholder="할인율을 입력해주세요."/>
							</div>
							<div class="mb-3 col-md-6">
								<label for="exampleFormControlInput1" class="form-label"><strong>상품설명</strong></label>
								<textarea class="form-control" id="exampleFormControlTextarea1" name="info"
									rows="3" placeholder="상품설명을 입력해주세요.">[[${list.info}]]</textarea>
							</div>
							<div class="mb-3 col-md-6" th:if="${list.uploadState == '1'}">
								<label for="type" class="form-label">
								<strong>판매상태</strong></label>
								<input type="text" class="form-control" name="sellState"
									id="changeInput2" th:value="${list.sellState}" readonly="readonly" />
									<select id="defaultSelect" class="" onchange="selectBoxChange2(this.value);">
										<option>===선택===</option>
										<option value="0">판매대기</option>
										<option value="1">판매중</option>
										<option value="2">판매완료</option>
									</select>
							</div>
						</div>
							<hr>
							<div class="col-md-12" align="center">
								<label for="exampleFormControlInput1" class="form-label"><strong style="font-size: 18px;">상품 이미지</strong></label>
								<div class="button-wrapper" align="center">
									<input type="file" id="file" name="file"/>
										<button type="button"
											class="btn btn-primary2 account-image-reset mb-4">
											<i class="bx bx-reset d-block d-sm-none"></i> <span
												class="d-none d-sm-block">Reset</span>
										</button>
										<p class="text-muted mb-0">Allowed JPG or PNG.</p>
								</div>
							</div><br>
						<div class="mb-3 col-md-12" align="center">
							<input type="submit" class="btn btn-primary me-2" value="수정하기">
							<a href="/sellerGoodsList" class="btn btn-primary2 me-2">뒤로가기</a>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- / Content -->
		
		<script>
			// select 박스 값이 input 태그에 들어감
			var selectBoxChange =  function(value) {
				$("#changeInput").val(value);
			}
			
			var selectBoxChange2 =  function(value) {
				$("#changeInput2").val(value);
			}
		</script>

	</div>
	<!-- Content wrapper -->

	<!--shop wrapper end-->
	<!--shop  area end-->
</body>
</html>