<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_seller}">
<head>
<meta charset="UTF-8">
<title>Together Pet</title>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

<!-- Helpers -->
<script src="/admin/assets/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="/admin/assets/js/config.js"></script>

<!-- datepicker 한국어로 -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>


</head>
<body>
	<div class="col-lg-10 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my page</li>
						<li>판매완료</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<!-- 검색 -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="mb-3 row">
							<label for="html5-search-input" class="col-md-2 col-form-label" id="search">검색어</label>
							<div class="col-md-10">
								<input class="form-control" type="search" value=""
									placeholder="검색할 상품을 입력하세요." id="html5-search-input" />
							</div>
						</div>
						<div class="search-box">
							<div class="mb-3 row">
								<label for="html5-search-input" class="col-md-2 col-form-label" id="search">조회기간</label>
								<div class="col-md-10">
									<input type="date" id="dateSearchFirst" value=""
										class="form-control" /> <label>~</label> <input type="date"
										id="dateSearchLast" value="" class="form-control" />
								</div>
							</div>
							<div class="mt-2" style="text-align: center;">
								<a href="" class="btn btn-primary me-2">검색하기</a>
								<button type="reset" class="btn btn-primary2 me-2">초기화</button>
							</div>
						</div>
					</div>
				</div>


				<!-- Hoverable Table rows -->
				<div class="card">
					<h4 class="card-header" style="font-weight: bold; font-size: 17px">
						판매완료 상품 목록 (총 [[${#lists.size(pageInfo.list)}]]개)
					</h4>

					<div class="table-responsive text-nowrap">
						<table class="table table-hover" style="text-align: center; vertical-align: middle;">
							<thead>
								<tr>
									<th>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value=""
												id="flexCheckDefault">
										</div>
									</th>
									<th>주문번호</th>
									<th>상품번호</th>
									<th>상품명</th>
									<th>수량</th>
									<th>수취인</th>
									<th>연락처</th>
									<th>배송지</th>
								</tr>
							</thead>
							<tbody class="table-border-bottom-0">
								<tr th:each="list : ${pageInfo.list}">
									<!-- [[${#dates.format(list.dt, 'yyyy-MM-dd')}]] -->
									<td>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value=""
												id="flexCheckDefault">
										</div>
									</td>
									<td>[[${list.orderNo}]]</td>
									<td>[[${list.goodsNo}]]</td>
									<td>[[${list.goodsName}]]</td>
									<td>[[${list.amount}]]</td>
									<td>[[${list.name}]]</td>
									<td>[[${list.call}]]</td>
									<td>[[${list.address}]]</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--/ Hoverable Table rows -->
			</div><br>
			<!-- / Content -->

			<!-- 페이지네이션 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li
						th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
							}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav>
			<!-- 페이지네이션 -->

			<div class="content-backdrop fade"></div>
		</div>
		<!-- Content wrapper -->

<style>
	.search-box .form-control {
		width: 48%;
		display: inline;
	}
	#search {
		font-weight: bold;
		font-size: 17px;
	}
</style>
<script>
//페이지 이동
	function gopage(p) {
		location.href = '/sellerDoneList?pageNum=' + p;
	}
</script>

		<!--shop wrapper end-->
	</div>
	<!--shop  area end-->
</body>
</html>