<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.scrap.mapper.ScrapMapper">
	<select id="scrapSelectList"
		resultType="com.team.prj.scrap.service.ScrapVO">
		select * from scrap
	</select>

	<select id="scrapSelect"
		resultType="com.team.prj.scrap.service.ScrapVO"
		parameterType="com.team.prj.scrap.service.ScrapVO">
		select *
		from scrap
		where scrap_no = #{scrapNo}
	</select>
	
	<delete id="scrapDelete">
		delete from scrap
		where scrap_no = #{scrap_no}
	</delete>
	
</mapper>