<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_tutor}">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
   th:content="${_csrf.headerName}" />
<title>My page - My Tutee list</title>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

<!-- Helpers -->
<script src="/admin/assets/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="/admin/assets/js/config.js"></script>
<!-- datepicker 한국어로 -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>


<script>

		/*-----------------------
		//클래스 정산 카드	
		-------------------------*/	
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		let key = "1";
			$('#orderby').on('change', function(){
				//전체 / 정산완료 / 정산대기 중 어느 라디오를 선택했는지 추출
				let key = $('input[name=key]:checked').val();
				profitList(key);
			})
		
		
		function profitList(key){
				$.ajax({
					url: 'profitOrderBy',
					type: 'post',
					beforeSend : function(xhr){
						xhr.setRequestHeader(header, token)},
					data: {
						key: key
					}
				})
				.done(res => {
					console.log("=======")
					console.log(res); // [{}, {}...]
					/*$('#tbd').html('');
					for(obj of res){
						$('#tbd').append(makeTr(obj))
					}*/
					
				})
			
		}




$(function(){
	
		/*-----------------------
		//클래스 카드 선택시 삭제 후 옵션 테이블 생성	
		-------------------------*/	
		$(".col-md-4").on("click", function() {
				var classNo = $(this).children('input:eq(0)').val();
				var className = $(this).children('input:eq(1)').val();
				console.log(classNo);
				
			 	$.ajax({
						url : "classOptionList",
						type:'get',
						data : {classNo : classNo},
						success : htmlView,
						error : console.log("오류")
				});
				//$("#wrap").empty();
				$("#suminfo").remove(); //첫 화면 상단에 정산 시간 알려주는 info부분 삭제
				$(".sumcard").remove(); //기존 정산액 카드 삭제				
				$("#sumtitle").empty(); // 클릭한 클래스의 이름으로 변경위해 비워줌
				$("#sumtitle").append(`<h2> ❝ ${className} ❞의 수강자 및 정산 현황<h2>`)
				$("#wrap").empty();
				$("#opwrap").empty();
		})

		
		/*-----------------------
		//콜백함수 클래스 옵션 조회
		-------------------------*/	
		function htmlView(list) {	
				
				if( list[0] == null) {
					$("#wrap").append(`
							<div class="col-md-4" id="sumcard">
								<div class="card">
									<p>정산완료</p>
									<h2> 0원 </h2>
								</div>
							</div>
							<div class="col-md-4" id="sumcard">
								<div class="card">
									<p>정산대기</p>
									<h2> 0원 </h2>
								</div>
							</div>
							<div class="col-md-4" id="sumcard">
								<div class="card">
									<p>수강료</p>
									<h2> ${price}원 </h2>
								</div>
							</div>`)

				} else{
			
				var price = `${list[0].price}`; //수강료 
				var minPrice = `${list[0].minusPrice}` //정산된 수강료
				var minusN =0;
				var minusY =0;
				
				//미정산된 건수 총합
				for(var i=0; i<list.length; i++){
					minusN += list[i].minusN;	
				};
				console.log(minusN)
				
				//정산완료된 건수 총합
				for(var i=0; i<list.length; i++){
					minusY += list[i].minusY;	
				};
				console.log(minusY)
				
				var minusNsum = minusN * minPrice; //미정산 건수* 수강료 = 미정산 비용
				var minusYsum = minusY * minPrice; //정산완료 건수* 수강료 = 정산완료 비용
				

				$("#wrap").append(`
						<div class="col-md-4" id="sumcard">
							<div class="card">
								<p>정산완료</p>
								<h2> ${minusYsum}원 </h2>
							</div>
						</div>
						<div class="col-md-4" id="sumcard">
							<div class="card">
								<p>정산대기</p>
								<h2> ${minusNsum}원 </h2>
							</div>
						</div>
						<div class="col-md-4" id="sumcard">
							<div class="card">
								<p>수강료</p>
								<h2> ${price}원 </h2>
							</div>
						</div>`)
				}		
			
				for (c of list) {
					var classOptionNo = `${c.classOptionNo}`
	
					
					var result = `
						<div class="col-md-6">
							<div class="card" id="optioncard" onclick="optionReserv(this, '${classOptionNo}');">
								<table  style="width: 100%;">
									<tbody id="optbody">
										<thead>
											<tr>
												<th>수업시간 : ${c.startDt}</th>
												<th>정원 : ${c.maxHeadcount} / ${c.allHeadcount}</th>
											<tr>
										</thead>
									</tbody>
								</table>
							</div>
						</div>`
					//$("#opwrap").empty();
					$("#opwrap").append(result);
				}
			
		}



})// end of document.ready




		
		/*-----------------------
		클래스 옵션 조회에서 선택 옵션의 예약자 명단
		-------------------------*/	
		function optionReserv(option, classOptionNo){
				console.log(classOptionNo);
				$.ajax({
					url : "optionReserv",
					type:'get',
					data : {classOptionNo : classOptionNo},
					success : 
							function reservView(list) {
							
							var th=`
								<div class="reserv">
								<hr>
								<table id="th" style="width: 100%;">
									<thead>
										<tr>
										<th>수강자명</th>
										<th>연락처</th>
										<th>결제일자</th>
										<th>정산현황</th>
										</tr>
									<thead>
								</table>
								`	
							$($(option)).append(th);
								
							for (c of list) {
									var result=`
									<tbody>
										<tr>
											<td>${c.name}</td>
											<td>${c.call}</td>
											<td>${c.orderDate}</td>
											<td>${c.minusYn == 0 ? `<button class="minus0">정산대기</button>` : `<button class="minus1">정산완료</button>`}</td>
										</tr>
									</tbody>
									</div>
									`
								
									$($(option)).find("#th").append(result);
									
								}	
							
							
							
							/*if ($(card).css("display") == "none") { 
								$($(option).append()).remove();
								//$(card).show(); //display :none 일떄
							} else {
								$($(option).append()).remove();
							}*/

							//const card = document.querySelector('.reserv');
							//card.classList.toggle('display');	

				
						}
					
				});

		}
		
		
		
		/*-----------------------
		콜백 함수 예약자 명단
		-------------------------*/	
		/*function reservView(list) {
				var th=`
					<table id="th">
						<thead>
							<tr>
							<th>수강자명</th>
							<th>연락처</th>
							<th>결제일</th>
							</tr>
						<thead>
					</table>
					`	
				$($(option)).append(th);
					
				for (c of list) {
						var result=`
						<tbody>
							<tr>
								<td>${c.name}</td>
								<td>${c.call}</td>
								<td>${c.orderDate}</td>
							</tr>
						</tbody>
						`
					
						//$(this).find("#th").append(result);
				}	
		}*/
		
		
		
</script>
<style>
.reserv.display {
	display: none;
}
.minus0 {
	border-radius: 5px;
	border: none;
	background-color: #f0f0f0;
	color: #666666;
}

.minus1 {
	border-radius: 5px;
	border: none;
	background-color: #87cefa;

}
</style>

</head>
<body>
	<div class="col-lg-10 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my page</li>
						<li>수강자 및 정산내역</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				
				<!-- 매출액 -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="search-box">
							<div class="section_title mb-60" id="sumtitle">
								<h2>클래스 총 매출액</h2><p id="suminfo">*클래스 정산은 수강자가 예약확정한 다음날 오전 11시에 이루어집니다.</p>
							</div>

							<div class="card-body" id="topcardbody">
								<div id="sumwrap">
									<div class="row gy-6" id="wrap">
											<div class="col-md-6 sumcard">
												<div class="card">
													<p>정산 완료</p>
													<h2>[[${#numbers.formatInteger(sum,3,'COMMA')}]]원</h2>
												</div>
											</div>
											<div class="col-md-6 sumcard">
												<div class="card">
													<p>정산 예정</p>
													<h2>[[${#numbers.formatInteger(unsum,3,'COMMA')}]]원</h2>
												</div>
											</div>
										
										<br>
									</div>
								</div>
								<br>
								<div id="optionwrap">
									<div class="row gy-6" id="opwrap">
									</div>
								</div>
								
								
							</div>

						</div>
					</div>
				</div>


				<!-- 클래스 카드리스트 반복문 -->
				<div class="card mb-4"  id="border">
					<div class="card-body">
						<div class="section_title mb-60" id="cdheader">
							<h2>클래스별 수강자 및 개별 정산내역 보기</h2>
							<p>* 클래스 클릭시 수강자 내역 및 개별 정산내역을 확인하실 수 있습니다.</p>
						</div>
					</div>
					
					<!--<div class="card-body">
						<div class="row gy-3" id="wrap">
							<div class="col-md-4">
								<div class="card">
									전체 :
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									정산완료 :
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									정산대기 :
								</div>
							</div>
						</div>
					</div>-->

					<div class="card-body">
						<div class="row gy-4" id="wrap">
							<div class="col-md-4" th:each="list : ${pageInfo.list}"
								th:id="${list.classNo}">
								<input id="clno" type="hidden" th:value="${list.classNo}">
								<input id="clna" type="hidden" th:value="${list.name}">
								<div class="card">
									<ul>
										<li><img th:src="@{display(fileName=${list.thumb})}"
											alt="consectetur"
											class="card-img-top embed-responsive-item" id="thumb_img"
											style="height: 12em; width: 50% em;"></li>
										<li>[[${list.name}]]</li>
										 <!-- [[${#numbers.formatInteger(list.price,3,'COMMA')}]]원 -->
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
						
			</div>
					<!-- / Content -->

			<!-- 페이지네이션 -->
			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-info  justify-content-center">
					<li class="page-item disabled" th:if="${pageInfo.isIsFirstPage()}"><span
						class="page-link">«</span></li>
					<li class="page-item"
						th:if="${!pageInfo.isIsFirstPage() && pageInfo.getList().size() > 0}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getPrePage()}]])|"
						rel="prev">«</a></li>
					<li
						th:class="|page-item ${(pageInfo.pageNum eq page) ? 'active': ''} |"
						th:each="page:${pageInfo.navigatepageNums}"><span
						class="page-link" th:if="${pageInfo.pageNum eq page}"
						th:text="${page}"></span> <a class="page-link"
						th:unless="${pageInfo.pageNum eq page}"
						th:href="|javascript:gopage(${page})|" th:text="${page}">{{$page
							}}</a></li>
					<li class="page-item" th:if="${pageInfo.hasNextPage}"><a
						class="page-link"
						th:href="|javascript:gopage([[${pageInfo.getNextPage()}]])|"
						rel="next">»</a></li>
					<li class="page-item disabled" th:unless="${pageInfo.hasNextPage}"><span
						class="page-link">»</span></li>
				</ul>
			</nav>
			<!-- 페이지네이션 -->
			
			<!-- 클래스 삭제 -->
			<form name="classDelete" id="classDelete" action="deleteClass">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">
				<input type="hidden"
					id="deleteSubmit" name="classNo">
			</form>
			<!-- 클래스 삭제 -->

		</div>
		<!-- Content wrapper -->

<style>
.search-box .form-control {
	width: 48%;
	display: inline;
}
#search {
	font-weight: bold;
	font-size: 17px;
}
</style>
<script>
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	function checkSelectAll()  {
	  // 전체 체크박스
	  const checkboxes = document.querySelectorAll('input[name="class"]');
	  // 선택된 체크박스
	  const checked = document.querySelectorAll('input[name="class"]:checked');
	  // select all 체크박스
	  const selectAll = document.querySelector('input[name="selectall"]');
	  
	  if (checkboxes.length === checked.length)  {
	    selectAll.checked = true;
	  } else {
	    selectAll.checked = false;
	  }
	}
	function selectAll(selectAll)  {
	  const checkboxes = document.getElementsByName('class');
	  checkboxes.forEach((checkbox) => {
	    checkbox.checked = selectAll.checked
	  })
	}
	
	//페이지 이동
	function gopage(p) {
		location.href = '/tutorClassList?pageNum=' + p;
	}
	
	// 필터링
	// 배너를 클릭했을 때 배너 값이랑 카테고리 값이랑 다르면 display:none 스타일 추가
	$("#categorySel").on("click", "a", function() {
		let filter = $(this).data("filter");
		let categories = $(".category")
		
		for(category of categories){ 
			category.style="";
			if (filter == "all"){
				category.style="";
			} else if (category.getAttribute("data-category") != filter){
				category.style.display="none";
			}
		}
	})
	
	// 상품 삭제 처리
	$("#btnList").on("click", "#deleteBtn", function () {
		if (confirm('상품을 삭제하시겠습니까?')) {
			let classNo = Number($(this).closest('tr').attr('id'));
			$('#deleteSubmit').val(classNo);
			$("#classDelete").submit();
		}
	})
</script>
	

		<!--shop wrapper end-->
	</div>
	<!--shop  area end-->
</body>
</html>