<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.team.prj.classreserve.mapper.ClassReserveMapper">
	
	
	<!-- 유저정보 -->
	<select id="userInfo"
		resultType="com.team.prj.users.service.UsersVO">
		SELECT * FROM USERS WHERE USER_NO=#{userNo}
	</select>
	
	
	<!-- 예약 조회 -->
	<select id="classReserveSelectList" resultType="com.team.prj.classreserve.service.ClassReserveVO">
	SELECT RESERVE_NO,
			DT,
			ORDER_DATE,
			PAY,
			PAY_YN,
			USER_NO,
			CLASS_NO,
			MINUS_PRICE,
			TOTAL_PRICE,
			MINUS_YN,
			MINUS_DATE,
			CLASS_OPTION_NO,
			CALL,
			NAME,
			MONEY,
			CLASS_NAME
	FROM CLASS_RESERVE
	WHERE RESERVE_NO =#{reserveNo}
	</select>
	
	
	<!-- 예약 입력 -->
	<insert id="classReserveInsert">
		<selectKey keyProperty="reserveNo" resultType="int" order="BEFORE">
			SELECT CASE WHEN MAX(RESERVE_NO) IS NULL THEN 1
			ELSE MAX(RESERVE_NO)+1 END
			AS RESERVE_NO
			FROM CLASS_RESERVE
		</selectKey>
		INSERT INTO CLASS_RESERVE
		VALUES (#{reserveNo},
				TO_DATE(#{dt}, 'YYYY-MM-DD HH24:MI:SS'),
				SYSDATE,
				#{pay},
				1,
				#{userNo},
				#{classNo},
				#{totalPrice},
				#{totalPrice}*0.9,
				0,
				null,
				#{classOptionNo},
				#{call},
				#{name},
				#{money},
				#{className}
		)
	
	</insert>
	
	
	<!-- 머니 업데이트 -->
	<update id="updateMoney">
		UPDATE USERS SET MONEY=(SELECT MONEY FROM USERS WHERE USER_NO=#{userNo})-#{money} WHERE USER_NO =
		#{userNo}
	</update>
	
	
	<!-- 클래스 수강신청인원 업데이트 -->
	<update id="updateHeadCount">
		UPDATE CLASS_OPTION
		SET ALL_HEADCOUNT = ALL_HEADCOUNT+1
		WHERE CLASS_OPTION_NO = #{classOptionNo}
	</update>
	
	
	
	
</mapper>