<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.goods.mapper.GoodsMapper">
	<!-- 전체 조회 -->
	<select id="goodsSelectAll"
		resultType="com.team.prj.goods.service.GoodsVO">
		select * from goods
		where upload_state=1
		order by
		<choose>
			<when test="key == 1"> 1 desc </when>
			<when test="key == 2"> 10 desc</when>
			<when test="key == 3"> 5 desc</when>
			<when test="key == 4"> 5</when>
		</choose>
	</select>

	<!-- 단건 조회 -->
	<select id="goodsSelectOne"
		resultType="com.team.prj.goods.service.GoodsVO">
		select * from goods where goods_no=#{goodsNo}
	</select>

	<!-- 그룹별 사진 불러오기 -->
	<select id="goodsPhotoList"
		parameterType="com.team.prj.goods.service.GoodsVO"
		resultType="com.team.prj.photo.service.PhotoVO">
		select * from photo where group_no=#{groupNo} and
		name='리스트'
	</select>

	<!-- shop에서 리뷰갯수 -->
	<select id="reviewCount"
		resultType="com.team.prj.review.service.ReviewVO">
		select board_no, count(*) rv_cnt from review where
		category_id='S' group by board_no
	</select>
	
	<!-- goods 리뷰 리스트 호출 -->
	<select id="reviewList"
		resultType="com.team.prj.review.service.ReviewVO">
		select * from review where board_no=#{goodsNo} and
		category_id='S'
	</select>

	<!-- 상품 삭제 1003 선희 추가 -->
	<delete id="deleteGoods">
		delete
		from goods
		where goods_no = #{goodsNo}
	</delete>

	<!-- 상품 수정 1003 선희 추가 -->
	<update id="updateGoods"
		parameterType="com.team.prj.goods.service.GoodsVO">
		UPDATE GOODS
		<set>
			<if test="category != null">category = #{category},</if>
			<if test="name != null">name = #{name},</if>
			<if test="amount != null">amount = #{amount},</if>
			<if test="price != null">price = #{price},</if>
			<if test="dc != null">dc = #{dc},</if>
			<if test="info != null">info = #{info}</if>
		</set>
		WHERE seller_no = #{sellerNo}
		AND goods_no = #{goodsNo}
	</update>
	
	<!-- 배송 상품 조회(상태 1,2,3) 1003 선희 추가 -->
	<select id="deliveryList" resultType="com.team.prj.orders.service.OrderVO">
		SELECT *
		FROM orders
		WHERE delivery_state IN ('1','2','3')
		AND seller_no = #{sellerNo}
		ORDER BY order_no DESC
	</select>
	
	<!-- 반품/교환 상품 조회(상태 5,6) 1004 선희 추가 -->
	<select id="sellerCancelList" resultType="com.team.prj.orders.service.OrderVO">
		SELECT *
		FROM orders
		WHERE delivery_state IN ('5','6')
		AND seller_no = #{sellerNo}
		ORDER BY order_no DESC
	</select>
	
	<!-- 판매완료(구매확정) 상품 조회(상태 7) 1004 선희 추가 -->
	<select id="sellerDoneList" resultType="com.team.prj.orders.service.OrderVO">
		SELECT order_no, goods_no, goods_name, amount, name, call, address, delivery_state
		FROM orders
		WHERE seller_no = 1
		AND delivery_state = '7'
		ORDER BY order_no DESC
	</select>
	
	<!-- 배송 상태 업데이트 1003 선희 추가 -->
	<update id="sellerDeliUpdate" parameterType="com.team.prj.orders.service.OrderVO">
		UPDATE orders
		SET delivery_state = '2'
		WHERE seller_no = #{sellerNo}
		AND goods_no = #{goodsNo}

	</update> 
	
	
	<!-- 상품 조회(state=0 (미 승인) 1004 추가 / 지혜) -->
	<select id="goodsList"
		resultType="com.team.prj.goods.service.GoodsVO">
		select * from goods
		where upload_state=0
		order by
		<choose>
			<when test="key == 1"> 1 </when>
			<when test="key == 2"> 10 desc</when>
		</choose>
	</select>
	
	
	<!-- 등록한 상품 검색 -->
	<select id="goodsSearch" resultType="com.team.prj.goods.service.GoodsVO">
		select *
		from goods
		where
		<choose>
			<when test="key == 1">name LIKE '%' || #{val} || '%'</when>
		</choose>
	</select>
	
	<!-- 오더 상품 검색 -->
	<select id="orderSearch" resultType="com.team.prj.orders.service.OrderVO">
		SELECT *
		FROM orders
		WHERE
		<choose>
			<when test="key == 1">goods_name LIKE '%' || #{val} || '%'</when>

		</choose>
	</select>
</mapper>