<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_mypage}">

<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>My pet page</title>
<script>
	$(document).ready(function() {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		const now = new Date();
		const nowYear = now.getFullYear();
		const nowAge_input = nowYear - $("#year").val() + 1;
		const nowAge = nowYear - $("#year option:selected").val() + 1;
		$("#age").val(nowAge);
		$("#age_input").val(nowAge_input);
	});
</script>
<style>
.shipping_text h3 {
	margin-bottom: 7px;
	font-size: 23px;
	line-height: 18px;
}
.petrow {
	padding-top: 30px;
}
.col-form-label {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
</style>
</head>

<body>
	<div class="col-lg-9 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my pet page</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<div class="shipping_text">
					<h3>내 반려동물 정보보기</h3>
				</div>
				
				<div class="mt-2" style="text-align: right;">
					<a href="/pet/petInsertForm" class="btn btn-primary me-2 mb-2">
					+ 내 반려동물정보 등록</a>
				</div>
				<div class="row">
					<div class="col-md-12" th:each="list : ${petList}">
						<!-- Horizontal -->
						<div class="card mb-3">
							<div class="row petrow">
								<div class="col-md-4" align="center" style="display: block; margin: auto;">
									<a th:href="@{/pet/petSelect(petNo=${list.petNo})}"> <img
										class="card-img card-img-left"
										src="/admin/assets/img/elements/dog.png" alt="Card image"
										style="width: 220px; height: 220px;" />
									</a>
								</div>
								<div class="col-md-8" style="border-left: 1px solid lightgray;">
									<div class="card-body">
										<form id="formAccountSettings">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}">
											<div class="row mb-2">
												<label class="col-sm-3 col-form-label" for="name">동물등록번호</label>
												<div class="col-sm-9">
													<input class="form-control" type="text" id="petNo"
														name="petNo" th:value="${list.petNo}" disabled="disabled" />
												</div>
											</div>
											<div class="row mb-2">
												<label class="col-sm-3 col-form-label" for="name">이름</label>
												<div class="col-sm-9">
													<input class="form-control" type="text" id="name"
														name="name" th:value="${list.name}" disabled="disabled" />
												</div>
											</div>
											<div class="row mb-2">
												<label class="col-sm-3 col-form-label" for="birth">생일</label>
												<div class="col-sm-9">
													<input class="form-control" type="text" id="birth"
														name="birth"
														th:value="${list.birth}"
														disabled="disabled" />
												</div>
											</div>
											<div class="row mb-2">
												<label class="col-sm-3 col-form-label" for="gender">성별</label>
												<div class="col-sm-9">
													<input type="text" id="gender" name="gender"
														class="form-control" th:value="${list.gender}"
														disabled="disabled" />
												</div>
											</div>
											<div class="row mb-2">
												<label class="col-sm-3 col-form-label" for="gender">타입</label>
												<div class="col-sm-9">
													<input type="text" id="type" name="type"
														class="form-control" th:value="${list.type}"
														disabled="disabled" />
												</div>
											</div>
											<div class="row mb-2">
												<label class="col-sm-3 col-form-label" for="weight">몸무게(kg)</label>
												<div class="col-sm-9">
													<input type="text" id="weight" name="weight"
														class="form-control" th:value="${list.weight}"
														disabled="disabled" />
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<br>
							<!--/ Horizontal -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / Content -->

		<div class="content-backdrop fade"></div>
		<!-- Content wrapper -->
	</div>

	<!--shop wrapper end-->
	<!--shop  area end-->
</body>

</html>