<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_mypage}">

<head>
<meta charset="UTF-8">
<title>My pet page</title>
<script>
	// 나이 계산
	function age(birth) {
		const today = new Date();
		const yearDiff = today.getFullYear() - birth.getFullYear();
		const monthDiff = today.getMonth() - birth.getMonth();
		const dateDiff = today.getDate() - birth.getDate();

		const isBeforeBirthDay = monthDiff < 0 || monthDiff === 0
				&& dateDiff < 0;

		return {
			age : yearDiff + (isBeforeBirthDay ? -1 : 0),
			yearAge : yearDiff,
			countingAge : yearDiff + 1,
		}
	}
	
	// null값 체크
	function check() {
		if (document.fr.name.value == "") {
			alert("이름을 입력하세요.");
			return false;
		}

		if (document.fr.birth.value == "") {
			alert("나이를 입력하세요.");
			return false;
		}

		if (document.fr.gender.value == "") {
			alert("성별을 입력하세요.");
			return false;
		}
	}
</script>
<style>
.shipping_text h3 {
	margin-bottom: 7px;
	font-size: 23px;
	line-height: 18px;
}
</style>
</head>

<body>
	<div class="col-lg-9 col-md-12" layout:fragment="content">
		<!--shop wrapper start-->
		<!-- Content wrapper -->
		<div class="content-wrapper">
			<!-- Content -->
			<div class="container-xxl flex-grow-1 container-p-y">
				<!--breadcrumbs area start-->
				<div class="breadcrumb_content">
					<ul>
						<li><a href="/">home</a></li>
						<li>my pet page</li>
					</ul>
				</div>
				<!--breadcrumbs area end-->

				<div class="shipping_text">
					<h3>내 반려동물 정보수정</h3>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<div class="card mb-4">
							<h5 class="card-header">Profile Details</h5>
							<!-- Account -->
							<div class="card-body">
								<div
									class="d-flex align-items-start align-items-sm-center gap-4">
									<img src="/admin/assets/img/avatars/1.png" alt="user-avatar"
										class="d-block rounded" height="100" width="100"
										id="uploadedAvatar" />
									<div class="button-wrapper">
										<label for="upload" class="btn btn-primary me-2 mb-4"
											tabindex="0"> <span class="d-none d-sm-block">Upload
												new photo</span> <i class="bx bx-upload d-block d-sm-none"></i> <input
											type="file" id="upload" class="account-file-input" hidden
											accept="image/png, image/jpeg, image/jpg" />
										</label>
										<button type="button"
											class="btn btn-primary2 account-image-reset mb-4">
											<i class="bx bx-reset d-block d-sm-none"></i> <span
												class="d-none d-sm-block">Reset</span>
										</button>

										<p class="text-muted mb-0">Allowed JPG or PNG.</p>
									</div>
								</div>
							</div>
							<hr class="my-0" />

							<div class="card-body" th:each="list : ${petList}">
								<form id="formAccountSettings" method="POST" name="fr"
									onsubmit="return check()">
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label" for="name">이름
											Name</label>
										<div class="col-sm-10">
											<input class="form-control" type="text" id="name" name="name"
												th:value="${list.name}" placeholder="Name" />
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label" for="birth">나이
											Age</label>
										<div class="col-sm-10">
											<input class="form-control" type="text" id="birth"
												name="birth" th:value="${list.birth}" placeholder="Age" />
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-2 col-form-label" for="gender">성별
											Gender</label>
										<div class="col-sm-10">
											<input type="text" id="gender" name="gender"
												class="form-control" th:value="${list.gender}"
												placeholder="Gender" />
										</div>
									</div>
									<div class="mt-2" style="text-align: center;">
										<button type="submit" class="btn btn-primary me-2"
											onclick="location.href='/pet/petSelectList'">수정하기</button>
										<a href="/pet/petSelectList" class="btn btn-primary2 me-2">뒤로가기</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / Content -->

			<div class="content-backdrop fade"></div>
		</div>
		<!-- Content wrapper -->


		<!--shop wrapper end-->
	</div>
	<!--shop  area end-->
</body>

</html>