<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.seller.mapper.SellerMapper">

	<!-- 0930 order by 추가 / 지혜 -->
	<select id="sellerSelectList"
		resultType="com.team.prj.seller.service.SellerVO">
		select *
		from seller
		order by seller_no desc
	</select>

	<!-- 판매자 단건 조회 -->
	<select id="sellerMyPage"
		resultType="com.team.prj.seller.service.SellerVO"
		parameterType="com.team.prj.seller.service.SellerVO">
		select *
		from seller
		where seller_no = #{sellerNo}
	</select>

	<!-- 판매자 정보 등록 0929 JH 주석처리 <insert id="sellerInsert" parameterType="com.team.prj.seller.service.SellerVO"> 
		<selectKey keyProperty="sellerNo" order="BEFORE" resultType="int"> SELECT 
		CASE WHEN max(seller_no) IS NULL THEN 1 ELSE max(seller_no) + 1 END AS no 
		FROM seller </selectKey> INSERT INTO seller VALUES(#{sellerNo} ,#{id} ,#{password} 
		,#{name} ,#{company} ,#{email} ,#{call} ,#{address} ,#{companyNo} ,#{author} 
		,#{groupNo} ,#{dt} ,#{attach} ,#{attachDir} ,#{postcode} ,#{da}) </insert> -->

	<!-- 판매자 정보 수정 -->
	<update id="sellerUpdate"
		parameterType="com.team.prj.seller.service.SellerVO">
		update seller
		<set>
			<if test="id != null">id = #{id},</if>
			<if test="password != null">password = #{password},</if>
			<if test="company != null">company = #{company},</if>
			<if test="email != null">email = #{email},</if>
			<if test="call != null">call = #{call},</if>
			<if test="address != null">address = #{address},</if>
			<if test="companyNo != null">company_no = #{companyNo},</if>
			<if test="dt != null">dt = #{dt},</if>
			<if test="name != null">name = #{name},</if>
			<if test="postcode != null">postcode = #{postcode},</if>
			<if test="da != null">da = #{da}</if>
		</set>
		where seller_no = #{sellerNo}
	</update>

	<!-- 판매자 삭제 -->
	<delete id="sellerDelete">
		delete from seller
		where seller_no = #{sellerNo}
	</delete>

	<!-- 판매자 상품 조회 -->
	<select id="goodsList"
		resultType="com.team.prj.goods.service.GoodsVO">
		select goods_no, name, upload_state, sell_state, amount,
		upload_date
		from goods
		where seller_no = #{sellerNo}
		order by goods_no
	</select>

	<!-- 판매자 상품 등록 -->
	<insert id="goodsInsert"
		parameterType="com.team.prj.goods.service.GoodsVO">
		<selectKey keyProperty="goodsNo" order="BEFORE"
			resultType="int">
			SELECT
			CASE WHEN max(goods_no) IS NULL
			THEN 1
			ELSE
			max(goods_no)
			+ 1
			END AS no
			FROM goods
		</selectKey>

		INSERT INTO GOODS
		VALUES(#{goodsNo},
		#{name},
		#{amount},
		#{category},
		#{price},
		#{info},
		0,
		sysdate,
		0,
		#{hit},
		#{sellerNo},
		#{dc},
		's',
		10,
		'',
		#{thumb, jdbcType = VARCHAR},
		#{detail, jdbcType = VARCHAR})
	</insert>

	<!-- 사진 불러오기 -->
	<select id="photoList"
		parameterType="com.team.prj.goods.service.GoodsVO"
		resultType="com.team.prj.photo.service.PhotoVO">
		select *
		from photo
		where group_no = #{groupNo}
		and name =
		'리스트'
	</select>

	<!-- 정산관리, 정산내역 전체조회 -->
	<select id="sellerProfitList"
		resultType="com.team.prj.admin.service.ProfitVO">
		select no,
		to_char(minus_dt, 'yyyy-mm-dd') minus_dt,
		to_char(order_dt,
		'yyyy-mm-dd') order_dt,
		user_name,
		seller_name,
		category_id,
		name,
		total_price,
		minus_price,
		minus_yn
		from profit
		where
		seller_no=#{svo.sellerNo}
		<if test="start != null and end != null">
				and minus_dt
					between to_date(#{start}, 'yyyy-mm-dd')
					and
					to_char(to_date(#{end}, 'yyyy-mm-dd') + INTERVAL '1' DAY, 'yyyy-mm-dd')
		</if>
		<choose>
			<when test="key == 1"> order by minus_yn desc, 1 desc </when>
			<when test="key == 2"> and minus_yn = 1
				order by 1 desc
			</when>
			<when test="key == 3"> and minus_yn = 0
				order by 1 desc
			</when>
		</choose>
	</select>
	
	<!-- 판매자회원 검색 / 1005 지혜 추가 -->
	<select id="sUserSearch" resultType="com.team.prj.seller.service.SellerVO">
		select *
		from seller
		where
		<choose>  
			<when test="key==1"> id like '%' || #{val}||'%'</when>
			<when test="key==2"> name like '%' || #{val}||'%'</when>
			<when test="key==3"> company like '%' || #{val}||'%'</when>
		</choose>
	</select>
	
	<!-- 고객문의 전체 조회 -->
	<select id="qnaSelectList" resultType="com.team.prj.qna.service.QnaVO">
		SELECT *
		FROM qna
		WHERE seller_no = #{sellerNo}
		ORDER BY qna_no DESC
	</select>
	
	<!-- 고객문의 단건 조회 -->
	<select id="qnaSelect" resultType="com.team.prj.qna.service.QnaVO">
		SELECT *
		FROM qna
		WHERE qna_no = #{qnaNo}
	</select>
	
	<!-- 문의 검색 -->
	<select id="qnaSearch"
		resultType="com.team.prj.qna.service.QnaVO">
		SELECT *
		FROM qna
		WHERE
		<choose>
			<when test="key == 1">title LIKE '%' || #{val} || '%'</when>
		</choose>
		ORDER BY qna_no DESC
	</select>
	
	<!-- 문의 답변(update) -->
	<update id="qnaAnswer" parameterType="com.team.prj.qna.service.QnaVO">
		UPDATE qna
		SET answer = #{answer},
			answer_date = sysdate
		WHERE qna_no = #{qnaNo}
	</update>
</mapper>