<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.accomo.mapper.accomoMapper">


	<select id="accomoSelectList"
		resultType="com.team.prj.accomo.service.accomoVO">


		select accomo_no,
		name,
		address,
		price,
		aphoto,
		hit,
		category,
		category_Id

		from accomo
		order by accomo_no ASC



	</select>

	<select id="accomoSelect"
		resultType="com.team.prj.accomo.service.accomoVO"
		parameterType="com.team.prj.accomo.service.accomoVO">

		select accomo_no,
		name,
		address,
		info,
		price,
		aphoto,
		hit
		from accomo
		where accomo_no = #{accomoNo}
	</select>



	<delete id="accomoDelete">
		delete from accomo
		where accomo_no = #{accomoNo}
	</delete>



	<select id="accomoSearch"
		resultType="com.team.prj.accomo.service.accomoVO">

		select * from accomo
		where
		<choose>
			<when test="key == 1"> address like '%' || #{val}||'%'</when>
			<when test="key == 2"> name like '%' || #{val}||'%'</when>
		</choose>

	</select>






	<update id="accomoHitUpdate">
		UPDATE accomo SET
		HIT = HIT + 1
		WHERE accomo_no = #{accomoNo}
	</update>


	<!-- 소현 스크랩 용도 -->
	<insert id="scrapInsert"
		parameterType="com.team.prj.scrap.service.ScrapVO">
		INSERT INTO SCRAP
		(SCRAP_NO,USER_NO,BOARD_NO,DT,CATEGORY_ID)
		VALUES ((SELECT
		NVL(MAX(SCRAP_NO), 0) + 1 FROM
		SCRAP),#{userNo},#{boardNo},sysdate,#{categoryId})
	</insert>

	<!-- 리뷰 -->
	<select id="reviewSelectList"
		resultType="com.team.prj.review.service.ReviewVO"
		parameterType="com.team.prj.review.service.ReviewVO">
		select *
		from review
		where board_no=#{reviewNo} and
		category_id='a'
	</select>



</mapper>