<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.prj.users.mapper.UsersMapper">
	<select id="findAll" resultType="com.team.prj.users.service.UsersVO">
		SELECT * FROM USERS
	</select>

	<select id="usersSelect" parameterType="com.team.prj.users.service.UsersVO">
		SELECT * FROM USERS WHERE user_no = #{userNo}
	</select>
	
	<insert id="usersInsert" parameterType="com.team.prj.users.service.UsersVO">
		INSERT INTO USERS
		VALUES(NVL(MAX(userNo) + 1, 0), #{id}, #{password}, #{name},
		#{nickname}, #{email}, #{call}, #{address}, 'USER', 3000, 1, SYSDATE)
	</insert>
	
	<update id="usersUpdate" parameterType="com.team.prj.users.service.UsersVO">
		UPDATE USERS SET nickname = #{nickname},
						 name = #{name},
						 email = #{email},
						 call = #{call},
						 address = #{address}
	</update>
	
	<delete id="usersDelete" parameterType="com.team.prj.users.service.UsersVO">
	
	</delete>
</mapper>